.share-button {
	position: relative;
}

.share-menu {
	width: 160px;
	height: 70px;
	padding: 0;
	border-radius: 5px;
	background-color: var(--color-white);
	position: absolute;
	box-shadow: 0 0 15px rgba(101, 119, 134, 0.2),
		0 0 3px 1px rgba(101, 119, 134, 0.15);
	top: -76px;
	left: -150px;
	overflow: hidden;
	display: none;
}

.popup {
	position: absolute;
	width: 100px;
	height: 30px;
	bottom: 35px;
	z-index: 100000;
	right: 0px;
	background-color: var(--color-white);
	box-shadow: 0 0 15px rgba(101, 119, 134, 0.2),
		0 0 3px 1px rgba(101, 119, 134, 0.15);
	color: var(--color-black);
	padding: 8px;
	font-size: 0.7rem;
	border-radius: 4px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	animation: showPopup 0.2s ease-in-out;
	transition-duration: 1s;
}

@keyframes showPopup {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

button.share-menu-item {
	background-color: var(--color-white);
	width: 100%;
	min-height: 35px;
	color: var(--color-grey-dark);
	border-radius: 0px;
	height: 50%;
	display: block;
	background-image: none;
	line-height: 2;
	cursor: pointer;
	font-size: 0.75rem;
	border: none;
}

button.share-menu-item::after {
	content: '';
	display: inline-block;
	height: 15px;
	width: 15px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	top: 3px;
	left: 4px;
}

button.share-menu-item.copy::after {
	background-image: url('assets/copy_dark.svg');
}

button.share-menu-item.twitter::after {
	background-image: url('assets/brand-x_dark.svg');
}

.open {
	display: block;
}

@media (prefers-color-scheme: dark) {
	.share-menu {
		background-color: var(--color-violet-dark-black);
		box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 15px,
			rgba(255, 255, 255, 0.15) 0px 0px 3px 1px;
	}

	button.share-menu-item {
		color: var(--color-white);
		background-color: var(--color-violet-dark-black);
	}

	button.share-menu-item.copy::after {
		background-image: url('assets/copy.svg');
	}

	button.share-menu-item.twitter::after {
		background-image: url('assets/brand-x.svg');
	}

	.popup {
		background-color: var(--color-violet-dark-black);
		box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 15px,
			rgba(255, 255, 255, 0.15) 0px 0px 3px 1px;
		color: var(--color-white);
	}
}
