<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
		/>
		<link rel="stylesheet" href="../styles/album.css" />
		<link rel="icon" href="../assets/icons/favicon.svg" />
		<script src="../scripts/index.js" type="module"></script>
		<title>Álbum | SongHub</title>
	</head>
	<body>
		<header class="main-header">
			<h1>
				<a href="home.html">
					<img src="../assets/icons/logo.svg" alt="Logo de SongHub" />
				</a>
			</h1>
			<nav class="header-nav">
				<ul class="hidden" role="menu" id="main-menu">
					<li role="menuitem">
						<a href="profile.html">
							<img
								height="60px"
								width="60px"
								src="https://i.pinimg.com/236x/f4/e4/ff/f4e4ff0e8518813c6d5dde10a4d5164d.jpg"
								alt="Imagen de perfil 'Nombre Usuario'"
							/>
							<span>PERFIL</span>
						</a>
					</li>
					<li role="menuitem">
						<a href="home.html">INICIO</a>
					</li>
					<li role="menuitem">
						<a href="explore.html">EXPLORAR</a>
					</li>
					<li role="menuitem">
						<form action="">
							<label for="search" class="visually-hidden"
								>Buscar álbum, canción o artista</label
							>
							<input
								type="search"
								name="search"
								role="searchbox"
								id="search"
								autocomplete="off"
								placeholder="Buscar álbum, canción o artista..."
								class="input"
								aria-describedby="search-description"
							/>
							<p id="search-description" class="visually-hidden">
								Los resultados de la búsqueda aparecerán en un
								momento.
							</p>
						</form>
					</li>
				</ul>
				<button
					class="menu-button"
					aria-expanded="false"
					aria-controls="main-menu"
				>
					<span class="material-symbols-outlined"> menu </span>
				</button>
			</nav>
		</header>

		<main>
			<figure>
				<img
					src="https://i.pinimg.com/564x/2f/18/9e/2f189e3be4ef04ab12a0a125efe4e67e.jpg"
					alt="Portada del álbum 'The Dark Side of the Moon' de Pink Floyd"
					width="225px"
					height="225px"
					class="image-border"
				/>
				<figcaption>
					<p>Álbum</p>
					<h2>The Dark Side Of The Moon</h2>
					<p>12 canciones</p>
				</figcaption>
				<p class="artist-info">
					<img
						src="https://i.pinimg.com/236x/20/cc/b2/20ccb24df9750b08d764e574fcec5f5d.jpg"
						alt="Imagen de perfil de 'Pink Floyd'"
						height="50px"
						width="50px"
					/>
					<span>Pink Floyd · 1973</span>
				</p>
			</figure>

			<section class="post-section">
				<p class="visibility">
					<span class="material-symbols-outlined"> public </span>
					<span>Pública</span>
				</p>

				<form action="" method="GET">
					<textarea
						placeholder="Agrega una descripción..."
						name="description"
						id="description"
						cols="70"
						rows="10"
						class="input"
					></textarea>
					<p>
						<span class="tag">Increible</span>
						<input type="hidden" name="tag" value="Increible" />
						<span class="tag">Me gusta</span>
						<input type="hidden" name="tag" value="Me gusta" />
					</p>
					<button class="tag-button">+ Agregar etiqueta</button>
					<p>
						<label for="rate">Valoración</label>
						<span>★★★★★</span>
						<input type="hidden" value="3" name="rate" id="rate" />
					</p>
					<button class="share-button">
						<span class="material-symbols-outlined"> share </span>
					</button>
					<input type="submit" value="Realizar post" />
				</form>
			</section>
		</main>

		<footer class="main-footer">
			<section>
				<p>
					<img
						height="15px"
						width="15px"
						src="../assets/icons/icon.svg"
						alt="Icono de SongHub"
					/>
					<span> &#169; 2023 SongHub Inc. </span>
				</p>
				<p>
					<img
						height="15px"
						width="15px"
						src="../assets/icons/spotify.svg"
						alt="Icono de Spotify"
					/>
					<span> En colaboración con Spotify </span>
				</p>
			</section>
			<nav class="footer-nav">
				<ul>
					<li><a href="home.html">Volver al inicio</a></li>
					<li><a href="terms.html">Terminos y condiciones</a></li>
				</ul>
			</nav>
		</footer>
	</body>
	<script>
		window.addEventListener('load', () => {
			const contentElement = document.querySelector('html');
			const isScrollable =
				contentElement.scrollHeight > contentElement.clientHeight;
			const footer = document.querySelector('.main-footer');
			if (!isScrollable) {
				footer.classList.add('fixed');
			} else {
				footer.classList.remove('fixed');
			}
		});
	</script>
</html>
