<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" href="../assets/icons/favicon.svg" />
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
		/>
		<link rel="stylesheet" href="../styles/explore.css" />
		<title>Explorar | SongHub</title>
	</head>

	<body>
		<header class="main-header">
			<h1>
				<a href="home.html">
					<img src="../assets/icons/logo.svg" alt="Logo de SongHub" />
				</a>
			</h1>
			<nav class="header-nav">
				<ul>
					<li>
						<a href="profile.html">
							<img
								src="https://i.pinimg.com/236x/f4/e4/ff/f4e4ff0e8518813c6d5dde10a4d5164d.jpg"
								alt="Imagen de perfil"
							/>
							<span>PERFIL</span>
						</a>
					</li>
					<li>
						<a href="home.html">INICIO</a>
					</li>
					<li>
						<a href="explore.html">EXPLORAR</a>
					</li>
					<li>
						<form action="">
							<input
								type="search"
								name="search"
								id="search"
								autocomplete="off"
								placeholder="Buscar álbum o canción..."
							/>
						</form>
					</li>
				</ul>
				<button class="menu">
					<span class="material-symbols-outlined"> menu </span>
				</button>
			</nav>
		</header>

		<main>
			<section>
				<h2>Álbumes populares de la semana</h2>

				<article>
					<figure>
						<img
							src="https://i.pinimg.com/564x/89/28/e3/8928e372651fc60256360ba5e21a7d2f.jpg"
							alt="Portada del álbum 'Pulse' de Pink Floyd"
						/>
						<figcaption>
							<h3>Pulse</h3>
							<p>Pink Floyd</p>
						</figcaption>
					</figure>
				</article>

				<article>
					<figure>
						<img
							src="https://i.pinimg.com/564x/99/41/82/99418264794012ddd044c761919fbb44.jpg"
							alt="Portada del álbum 'Punisher' de Phoebe Bridgers"
						/>
						<figcaption>
							<h3>Punisher</h3>
							<p>Phoebe Bridgers</p>
						</figcaption>
					</figure>
				</article>

				<article>
					<figure>
						<img
							src="https://i.pinimg.com/564x/94/76/b8/9476b8e8cb9368ceba6f90bec0c1b980.jpg"
							alt="Portada del álbum 'Random Acces Memories' de Daft Punk"
						/>
						<figcaption>
							<h3>Random Acces Memories</h3>
							<p>Daft Punk</p>
						</figcaption>
					</figure>
				</article>

				<article>
					<figure>
						<img
							src="https://i.pinimg.com/564x/dd/ff/e0/ddffe0a469a486bdde609fe2467e75c1.jpg"
							alt="Portada del álbum 'Led Zeppelin III' de Led Zeppelin"
						/>
						<figcaption>
							<h3>Led Zeppelin III</h3>
							<p>Led Zeppelin</p>
						</figcaption>
					</figure>
				</article>

				<article>
					<figure>
						<img
							src="https://i.pinimg.com/564x/54/4b/29/544b2906bb15ffaa689bf096b3d850e4.jpg"
							alt="Portada del álbum 'Happier Than Ever' de Billie Eilish"
						/>
						<figcaption>
							<h3>Happier Than Ever</h3>
							<p>Billie Eilish</p>
						</figcaption>
					</figure>
				</article>

				<article>
					<figure>
						<img
							src="https://i.pinimg.com/564x/50/75/92/5075926b9579b1155b7e4366184c0f64.jpg"
							alt="Portada del álbum 'X100PRE' de Bad Bunny"
						/>
						<figcaption>
							<h3>X100PRE</h3>
							<p>Bad Bunny</p>
						</figcaption>
					</figure>
				</article>
			</section>

			<section>
				<h2>Canciones populares de la semana</h2>

				<article>
					<figure>
						<img
							src="https://i.pinimg.com/564x/3d/65/d5/3d65d5e4af0cde2458b2e7b55869f4e6.jpg"
							alt="Portada de la cancion 'Peso Pluma || Music Session' de Bizarrap"
						/>
						<figcaption>
							<h3>Peso Pluma || Music Session</h3>
							<p>Bizarrap</p>
						</figcaption>
					</figure>
				</article>

				<article>
					<figure>
						<img
							src="https://i.pinimg.com/564x/aa/af/30/aaaf30cb2a66f80057d06d8e78b0bd3e.jpg"
							alt="Portada de la cancion 'Bad Habit' de Steve Lazy"
						/>
						<figcaption>
							<h3>Bad Habit</h3>
							<p>Steve Lazy</p>
						</figcaption>
					</figure>
				</article>

				<article>
					<figure>
						<img
							src="https://i.pinimg.com/236x/fc/5f/c2/fc5fc26173a1b9aca7ba255cfde06fa1.jpg"
							alt="Portada de la cancion 'TV' de Billie Eilish"
						/>
						<figcaption>
							<h3>TV</h3>
							<p>Billie Eilish</p>
						</figcaption>
					</figure>
				</article>

				<article>
					<figure>
						<img
							src="https://i.pinimg.com/564x/28/83/60/288360836d7d5532e52012bf06981410.jpg"
							alt="Portada de la cancion 'Comfortably Numb' de Pink Floyd"
						/>
						<figcaption>
							<h3>Comfortably Numb</h3>
							<p>Pink Floyd</p>
						</figcaption>
					</figure>
				</article>

				<article>
					<figure>
						<img
							src="https://i.pinimg.com/564x/5f/5f/45/5f5f45f7be4f8486ab60ab002c14325c.jpg"
							alt="Portada de la cancion 'Stairway To Heaven' de Led Zeppelin"
						/>
						<figcaption>
							<h3>Stairway To Heaven</h3>
							<p>Led Zeppelin</p>
						</figcaption>
					</figure>
				</article>

				<article>
					<figure>
						<img
							src="https://i.pinimg.com/564x/17/8c/ea/178ceaa5c0c24fd3cee2fe08dadf82e6.jpg"
							alt="Portada de la cancion 'Goteo' de Duki"
						/>
						<figcaption>
							<h3>Goteo</h3>
							<p>Duki</p>
						</figcaption>
					</figure>
				</article>
			</section>
		</main>

		<footer class="main-footer">
			<section>
				<p>
					<img
						src="../assets/icons/icon.svg"
						alt="Icono de SongHub"
					/>
					<span> &#169; 2023 SongHub Inc. </span>
				</p>
				<p>
					<img
						src="../assets/icons/spotify.svg"
						alt="Icono de Spotify"
					/>
					<span> En colaboración con Spotify </span>
				</p>
			</section>
			<nav class="footer-nav">
				<ul>
					<li><a href="home.html">Volver al inicio</a></li>
					<li><a href="terms.html">Terminos y condiciones</a></li>
				</ul>
			</nav>
		</footer>
	</body>
	<script>
		document.addEventListener('load', () => {
			const footer = document.querySelector('.main-footer');
			console.log(window.scrollY);
			if (window.scrollY === 0) {
				console.log('fixed');
				footer.classList.add('fixed');
			} else {
				footer.classList.remove('fixed');
			}
		});
	</script>
</html>
