<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Descubre una plataforma interactiva donde puedes compartir opiniones sobre música y explorar nuevas recomendaciones. 
                Únete a nuestra comunidad de usuarios para escribir reviews de canciones y álbumes e interactuar con otros amantes de la música. 
                ¡Explora, conecta y descubre la pasión por la música en SongHub!"
    />
    <link rel="icon" href="/assets/icons/favicon.svg" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <title>Inicio | SongHub</title>
  </head>

  <body>
    <header>
      <h1>
        <img src="/assets/icons/logo.svg" alt="Logo de SongHub" />
      </h1>
      <nav>
        <ul>
          <li>
            <a href="/views/profile.html">Perfil</a>
            <img
              src="https://i.pinimg.com/236x/f4/e4/ff/f4e4ff0e8518813c6d5dde10a4d5164d.jpg"
              alt="Imagen de perfil"
            />
          </li>
          <li>
            <a href="/views/explore.html">Explorar</a>
          </li>
          <input type="search" />
        </ul>
      </nav>
    </header>

    <main>
      <section>
        <header>
          <h1>Álbumes populares de la semana</h1>
        </header>

        <article>
          <figure>
            <img
              src="https://i.pinimg.com/564x/89/28/e3/8928e372651fc60256360ba5e21a7d2f.jpg"
              alt="Portada del álbum 'Pulse' de Pink Floyd"
            />
            <figcaption>Pulse - Pink Floyd</figcaption>
          </figure>
          <header>
            <h3>Pulse</h3>
            <p>Pink Floyd</p>
          </header>
        </article>

        <article>
          <figure>
            <img
              src="https://i.pinimg.com/564x/99/41/82/99418264794012ddd044c761919fbb44.jpg"
              alt="Portada del álbum 'Punisher' de Phoebe Bridgers"
            />
            <figcaption>Punisher - Phoebe Bridgers</figcaption>
          </figure>
          <header>
            <h3>Punisher</h3>
            <p>Phoebe Bridgers</p>
          </header>
        </article>

        <article>
          <figure>
            <img
              src="https://i.pinimg.com/564x/94/76/b8/9476b8e8cb9368ceba6f90bec0c1b980.jpg"
              alt="Portada del álbum 'Random Acces Memories' de Daft Punk"
            />
            <figcaption>Random Acces Memories - Daft Punk</figcaption>
          </figure>
          <header>
            <h3>Random Acces Memories</h3>
            <p>Daft Punk</p>
          </header>
        </article>

        <article>
          <figure>
            <img
              src="https://i.pinimg.com/564x/dd/ff/e0/ddffe0a469a486bdde609fe2467e75c1.jpg"
              alt="Portada del álbum 'Led Zeppelin III' de Led Zeppelin"
            />
            <figcaption>Led Zeppelin III - Led Zeppelin</figcaption>
          </figure>
          <header>
            <h3>Led Zeppelin III</h3>
            <p>Led Zeppelin</p>
          </header>
        </article>

        <article>
          <figure>
            <img
              src="https://i.pinimg.com/564x/50/75/92/5075926b9579b1155b7e4366184c0f64.jpg"
              alt="Portada del álbum 'X100PRE' de Bad Bunny"
            />
            <figcaption>X100PRE - Bad Bunny</figcaption>
          </figure>
          <header>
            <h3>X100PRE</h3>
            <p>Bad Bunny</p>
          </header>
        </article>
      </section>

      <section>
        <header>
          <h1>Canciones populares de la semana</h1>
        </header>

        <article>
          <figure>
            <img
              src="https://i.pinimg.com/564x/3d/65/d5/3d65d5e4af0cde2458b2e7b55869f4e6.jpg"
              alt="Portada del álbum 'Peso Pluma || Music Session' de Bizarrap"
            />
            <figcaption>Peso Pluma || Music Session - Bizarrap</figcaption>
          </figure>
          <header>
            <h3>Peso Pluma || Music Session</h3>
            <p>Bizarrap</p>
          </header>
        </article>

        <article>
          <figure>
            <img
              src="https://i.pinimg.com/564x/aa/af/30/aaaf30cb2a66f80057d06d8e78b0bd3e.jpg"
              alt="Portada del álbum 'Bad Habit' de Steve Lazy"
            />
            <figcaption>Bad Habit - Steve Lazy</figcaption>
          </figure>
          <header>
            <h3>Bad Habit</h3>
            <p>Steve Lazy</p>
          </header>
        </article>

        <article>
          <figure>
            <img
              src="https://i.pinimg.com/564x/28/83/60/288360836d7d5532e52012bf06981410.jpg"
              alt="Portada del álbum 'Comfortably Numb' de Pink Floyd"
            />
            <figcaption>Comfortably Numb - Pink Floyd</figcaption>
          </figure>
          <header>
            <h3>Comfortably Numb</h3>
            <p>Pink Floyd</p>
          </header>
        </article>

        <article>
          <figure>
            <img
              src="https://i.pinimg.com/564x/5f/5f/45/5f5f45f7be4f8486ab60ab002c14325c.jpg"
              alt="Portada del álbum 'Stairway To Heaven' de Led Zeppelin"
            />
            <figcaption>Stairway To Heaven - Led Zeppelin</figcaption>
          </figure>
          <header>
            <h3>Stairway To Heaven</h3>
            <p>Led Zeppelin</p>
          </header>
        </article>

        <article>
          <figure>
            <img
              src="https://i.pinimg.com/564x/17/8c/ea/178ceaa5c0c24fd3cee2fe08dadf82e6.jpg"
              alt="Portada del álbum 'Goteo' de Duki"
            />
            <figcaption>Goteo - Duki</figcaption>
          </figure>
          <header>
            <h3>Goteo</h3>
            <p>Duki</p>
          </header>
        </article>
      </section>
    </main>

    <footer>
      <section>
        <p>
          <span>
            <img src="/assets/icons/favicon.svg" alt="Icono de SongHub" />
            &#169; 2023 SongHub Inc.
          </span>
        </p>
        <p>
          <span>
            <img src="/assets/icons/spotify.svg" alt="Icono de Spotify" />
            &#169; En colaboración con Spotify
          </span>
        </p>
      </section>
      <nav>
        <ul>
          <a href="/views/terms.html">Terminos y condiciones</a>
          <a href="/views/index.html">Volver al inicio</a>
        </ul>
      </nav>
    </footer>
  </body>
</html>
