<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" href="../assets/icons/favicon.svg" />
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
		/>
		<link rel="stylesheet" href="../styles/follow.css" />
		<script src="../scripts/index.js" type="module"></script>
		<title>Seguidores | SongHub</title>
	</head>

	<body>
		<header class="main-header">
			<h1>
				<a href="home.html">
					<img src="../assets/icons/logo.svg" alt="Logo de SongHub" />
				</a>
			</h1>
			<nav class="header-nav">
				<ul class="hidden" role="menu" id="main-menu">
					<li role="menuitem" class="search-item">
						<form action="">
							<label for="search" class="visually-hidden"
								>Buscar álbum, canción o artista</label
							>
							<input
								type="search"
								name="search"
								role="searchbox"
								id="search"
								autocomplete="off"
								placeholder="Buscar álbum, canción o artista..."
								class="input"
								aria-describedby="search-description"
							/>
							<p id="search-description" class="visually-hidden">
								Los resultados de la búsqueda aparecerán en un
								momento.
							</p>
						</form>
					</li>
					<li role="menuitem">
						<a href="home.html">INICIO</a>
					</li>
					<li role="menuitem">
						<a href="explore.html">EXPLORAR</a>
					</li>
					<li role="menuitem" class="profile-item">
						<a href="profile.html"> PERFIL </a>
					</li>
					<li role="menuitem" class="logout-item">
						<a href="#">
							<span>CERRAR SESION</span>
							<svg
								width="800px"
								height="800px"
								viewBox="0 0 24 24"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M15 16.5V19C15 20.1046 14.1046 21 13 21H6C4.89543 21 4 20.1046 4 19V5C4 3.89543 4.89543 3 6 3H13C14.1046 3 15 3.89543 15 5V8.0625M11 12H21M21 12L18.5 9.5M21 12L18.5 14.5"
									stroke="#000000"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
								/>
							</svg>
						</a>
					</li>
				</ul>
				<button
					class="menu-button"
					aria-expanded="false"
					aria-controls="main-menu"
				>
				</button>
			</nav>
		</header>

		<main>
			<h2>Seguidores</h2>
			<section class="users">
				<article class="user">
					<img
						loading="lazy"
						height="70px"
						width="70px"
						src="https://i.pinimg.com/236x/94/7f/14/947f14841d26f5dc3541366a987b32f5.jpg"
						alt="Imagen de perfil de 'Usuario 1'"
					/>
					<a href="profile.html">Usuario 1</a>
					<span>$username1</span>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
					</p>
					<a href="#" class="submit-button">Ver perfil</a>
				</article>
				<article class="user">
					<img
						loading="lazy"
						height="70px"
						width="70px"
						src="https://i.pinimg.com/236x/2d/92/d0/2d92d085613a400e12fbadacc019e0e2.jpg"
						alt="Imagen de perfil de 'Usuario 2'"
					/>
					<a href="profile.html">Usuario 2</a>
					<span>$username2</span>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
					</p>
					<a href="#" class="submit-button">Ver perfil</a>
				</article>
				<article class="user">
					<img
						loading="lazy"
						height="70px"
						width="70px"
						src="https://i.pinimg.com/564x/1b/c9/28/1bc92809105d535c7adbdd9c2e81602d.jpg"
						alt="Imagen de perfil de 'Usuario 3'"
					/>
					<a href="profile.html">Usuario 3</a>
					<span>$username3</span>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
					</p>
					<a href="#" class="submit-button">Ver perfil</a>
				</article>
				<article class="user">
					<img
						loading="lazy"
						height="70px"
						width="70px"
						src="https://i.pinimg.com/564x/59/82/7d/59827d6ae38ba9e8e34ee89d59679611.jpg"
						alt="Imagen de perfil de 'Usuario 4'"
					/>
					<a href="profile.html">Usuario 4</a>
					<span>$username4</span>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
					</p>
					<a href="#" class="submit-button">Ver perfil</a>
				</article>
				<article class="user">
					<img
						loading="lazy"
						height="70px"
						width="70px"
						src="https://i.pinimg.com/564x/68/23/25/6823252cc7346252874a7187de3e39ac.jpg"
						alt="Imagen de perfil de 'Usuario 5'"
					/>
					<a href="profile.html">Usuario 5</a>
					<span>$username5</span>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
					</p>
					<a href="#" class="submit-button">Ver perfil</a>
				</article>
				<article class="user">
					<img
						loading="lazy"
						height="70px"
						width="70px"
						src="https://i.pinimg.com/564x/e3/2a/f5/e32af5f3863c9d2b161e9ba2d5ce06fd.jpg"
						alt="Imagen de perfil de 'Usuario 6'"
					/>
					<a href="profile.html">Usuario 6</a>
					<span>$username6</span>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
					</p>
					<a href="#" class="submit-button">Ver perfil</a>
				</article>
			</section>
		</main>
	</body>
</html>
