<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta
			name="description"
			content="Descubre una plataforma interactiva donde puedes compartir opiniones sobre música y explorar nuevas recomendaciones. 
                Únete a nuestra comunidad de usuarios para escribir reviews de canciones y álbumes e interactuar con otros amantes de la música. 
                ¡Explora, conecta y descubre la pasión por la música en SongHub!"
		/>
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
		/>

		<link rel="stylesheet" href="../styles/home.css" />
		<link rel="icon" type="image/x-icon" href="/assets/icons/favicon.svg" />
		<title>Inicio | SongHub</title>
	</head>
	<body>
		<header class="main-header">
			<h1>
				<a href="home.html">
					<img src="../assets/icons/logo.svg" alt="Logo de SongHub" />
				</a>
			</h1>
			<nav class="header-nav">
				<ul class="hidden" role="menu" id="main-menu">
					<li role="menuitem">
						<a href="profile.html">
							<img
								height="60px"
								width="60px"
								src="https://i.pinimg.com/236x/f4/e4/ff/f4e4ff0e8518813c6d5dde10a4d5164d.jpg"
								alt="Imagen de perfil 'Nombre Usuario'"
							/>
							<span>PERFIL</span>
						</a>
					</li>
					<li role="menuitem">
						<a href="home.html">INICIO</a>
					</li>
					<li role="menuitem">
						<a href="explore.html">EXPLORAR</a>
					</li>
					<li role="menuitem">
						<form action="">
							<label for="search" class="visually-hidden"
								>Buscar álbum, canción o artista</label
							>
							<input
								type="search"
								name="search"
								role="searchbox"
								id="search"
								autocomplete="off"
								placeholder="Buscar álbum, canción o artista..."
								class="input"
								aria-describedby="search-description"
							/>
							<p id="search-description" class="visually-hidden">
								Los resultados de la búsqueda aparecerán en un
								momento.
							</p>
						</form>
					</li>
				</ul>
				<button
					class="menu-button"
					aria-expanded="false"
					aria-controls="main-menu"
				>
					<span class="material-symbols-outlined"> menu </span>
				</button>
			</nav>
		</header>

		<main>
			<ul
				class="cards-container"
				aria-roledescription="carousel"
				aria-label="Carrusel de discos de música"
			>
				<li
					role="listitem"
					aria-roledescription="slide"
					aria-labelledby="album-1-title"
				>
					<figure class="active" data-item-index="0">
						<img
							src="/assets/images/home/carousel/carousel_image_1.jpg"
							alt="Portada del álbum 'Starboy' de The Weeknd"
						/>
						<figcaption id="album-1-title">
							<h2>Starboy</h2>
							<h3>The Weeknd</h3>
						</figcaption>
					</figure>
				</li>
				<li role="listitem" aria-labelledby="album-2-title" aria-roledescription="slide">
					<figure data-item-index="1">
						<img
							src="/assets/images/home/carousel/carousel_image_2.jpg"
							alt="Portada del álbum 'Justice' de Justin Bieber"
						/>
						<figcaption id="album-2-title">
							<h2>Justice</h2>
							<h3>Justin Bieber</hh>
						</figcaption>
					</figure>
				</li>
				<li role="listitem" aria-labelledby="album-3-title" aria-roledescription="slide">
					<figure data-item-index="2">
						<img
							src="/assets/images/home/carousel/carousel_image_3.jpg"
							alt="Portada del álbum 'DAMN.' de Kendrick Lamar"
						/>
						<figcaption id="album-3-title">
							<h2>DAMN.</h2>
							<h3>Kendrick Lamar</h3>
						</figcaption>
					</figure>
				</li>
				<li role="listitem" aria-labelledby="album-4-title" aria-roledescription="slide">
					<figure data-item-index="3">
						<img
							src="/assets/images/home/carousel/carousel_image_4.jpg"
							alt="Portada del álbum 'SOS' de SZA"
						/>
						<figcaption id="album-4-title">
							<h2>SOS</h2>
							<h3>SZA</h3>
						</figcaption>
					</figure>
				</li>
			</ul>

			<section class="feed">
				<h2 class="section-title">Últimos posts</h2>
				<article class="post" id="post_1">
					<figure>
						<img
							loading="lazy"
							class="post-img image-border"
							height="120px"
							width="120px"
							src="https://i.pinimg.com/564x/2f/18/9e/2f189e3be4ef04ab12a0a125efe4e67e.jpg"
							alt="Portada del álbum 'The Dark Side of the Moon' de Pink Floyd"
							class="image-border"
						/>
						<section class="user-info">
							<img
								loading="lazy"
								class="user-img"
								height="25px"
								width="25px"
								src="https://i.pinimg.com/236x/94/7f/14/947f14841d26f5dc3541366a987b32f5.jpg"
								alt="Imagen de perfil de 'Usuario 1'"
							/>
							<p class="user-name">
								<a href="profile.html">Usuario 1</a>
								<span>$username1</span>
							</p>
							<p class="post-time">hace 8 horas</p>
						</section>
						<figcaption>
							<h3 class="song-title">
								The Dark Side of the Moon
							</h3>
							<h4 class="artist-title">Pink Floyd</h4>
							<a href="./home.html">Increible</a>
							<a href="./home.html">Rock</a>
							<a href="./home.html">Internacional</a>
							<p class="stars">★★★★★</p>
						</figcaption>
					</figure>
					<section class="post-content">
						<p>
							It has survived not only five centuries, but also
							the leap into electronic typesetting, remaining
							essentially unchanged. It was popularised in the
							1960s with the release of Letraset sheets containing
							Lorem Ipsum passages, and more recently with desktop
							publishing software like Aldus PageMaker including
							versions of Lorem Ipsum. t has survived not only
							five centuries, but also the leap into electronic
							typesetting, remaining essentially unchanged. It was
							popularised in the 1960s with the release of
							Letraset sheets containing Lorem Ipsum passages, and
							more recently with deskt. It has survived not only
							five centuries, but also the leap into electronic
							typesetting, remaining essentially unchanged. It was
							popularised in the 1960s with the release of
							Letraset sheets containing Lorem Ipsum passages, and
							more recently with desktop publishing software like
							Aldus PageMaker including versions of Lorem Ipsum. t
							has survived not only five centuries, but also the
							leap into electronic typesetting, remaining
							essentially unchanged. It was popularised in the
							1960s with the release of Letraset sheets containing
							Lorem Ipsum passages, and more recently with deskt.
						</p>
					</section>
					<footer>
						<img
							src="./../assets/icons/post-icons/share.svg"
							alt="share"
							width="20px"
						/>
						<section>
							<img
								src="./../assets/icons/post-icons/comment.svg"
								alt="comment"
								width="20px"
							/>
							<p>20</p>
						</section>
						<section class="like-container">
							<button>
								<img 
									src="./../assets/icons/post-icons/star.svg" 
									alt="like" 
									width="20px"
									id="unlike_star"
									/>
							</button>
							<p>1008</p>
						</section>
					</footer>
				</article>
				<article class="post" id="post_2">
					<figure>
						<img
							loading="lazy"
							height="120px"
							width="120px"
							class="post-img"
							src="https://i.pinimg.com/236x/73/01/9f/73019f71f5bc1124787d11044d21d12d.jpg"
							alt="Portada del álbum 'Preacher`s Daughter' de Ethel Cain"
							class="image-border"
						/>
						<section class="user-info">
							<img
								loading="lazy"
								class="user-img"
								height="25px"
								width="25px"
								src="https://i.pinimg.com/236x/2d/92/d0/2d92d085613a400e12fbadacc019e0e2.jpg"
								alt="Imagen de perfil de 'Usuario 2'"
							/>
							<p class="user-name">
								<a href="profile.html">Usuario 2</a>
								<span>$username2</span>
							</p>
							<p class="post-time">hace 8 horas</p>
						</section>
						<figcaption>
							<h3 class="song-title">Preacher`s Daughter</h3>
							<h4 class="artist-title">Ethel Cain</h4>
							<a href="./home.html">Chill</a>
							<a href="./home.html">Internacional</a>
							<p class="stars">★★★★½</p>
						</figcaption>
					</figure>
					<section class="post-content">
						<p>
							It has survived not only five centuries, but also
							the leap into electronic typesetting, remaining
							essentially unchanged. It was popularised in the
							1960s.
						</p>
					</section>
					<footer>
						<img
							src="./../assets/icons/post-icons/share.svg"
							alt="share"
							width="20px"
						/>
						<section>
							<img
								src="./../assets/icons/post-icons/comment.svg"
								alt="comment"
								width="20px"
							/>
							<p>10</p>
						</section>
						<section class="like-container">
							<button>
								<img 
									src="./../assets/icons/post-icons/star.svg" 
									alt="like" 
									width="20px"
									id="unlike_star"
									/>
							</button>
							<p>432</p>
						</section>
					</footer>
				</article>
				<article class="post" id="post_3">
					<figure>
						<img
							loading="lazy"
							class="post-img image-border"
							height="120px"
							width="120px"
							src="https://i.pinimg.com/236x/bf/00/49/bf0049614afb7ec4f5f64bb20834d728.jpg"
							alt="Portada del álbum 'Certified Lover Boy' de Drake"
						/>
						<section class="user-info">
							<img
								loading="lazy"
								class="user-img"
								height="25px"
								width="25px"
								src="https://i.pinimg.com/236x/94/7f/14/947f14841d26f5dc3541366a987b32f5.jpg"
								alt="Imagen de perfil de 'Usuario 1'"
							/>
							<p class="user-name">
								<a href="profile.html">Usuario 1</a>
								<span>$username1</span>
							</p>
							<p class="post-time">hace 8 horas</p>
						</section>
						<figcaption>
							<h3 class="song-title">Certified Lover Boy</h3>
							<h4 class="artist-title">Drake</h4>
							<a href="./home.html">Amazing</a>
							<a href="./home.html">Trap</a>
							<a href="./home.html">Drake</a>
							<p class="stars">★★★½</p>
						</figcaption>
					</figure>
					<section class="post-content">
						<p>
							It has survived not only five centuries, but also
							the leap into electronic typesetting, remaining
							essentially unchanged. It was popularised in the
							1960s.
						</p>
					</section>
					<footer>
						<img
							src="./../assets/icons/post-icons/share.svg"
							alt="share"
							width="20px"
						/>
						<section>
							<img
								src="./../assets/icons/post-icons/comment.svg"
								alt="comment"
								width="20px"
							/>
							<p>2</p>
						</section>
						<section class="like-container">
							<button>
								<img 
									src="./../assets/icons/post-icons/star.svg" 
									alt="like" 
									width="20px"
									id="unlike_star"
									/>
							</button>
							<p>10</p>
						</section>
					</footer>
				</article>
			</section>
		</main>
	</body>
	<script src="../scripts/index.js" type="module"></script>
</html>
