<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Iniciar sesion | SongHub</title>
		<link rel="icon" href="../assets/icons/favicon.ico" />
		<link rel="stylesheet" href="../styles/login.css" />
	</head>
	<body>
		<main>
			<h1>Bienvenido</h1>
			<h2>Por favor ingresa tus credenciales</h2>
			<form action="/login" method="POST">
				<fieldset>
					<legend>Informacion de inicio de sesión</legend>
					<p class="input-container">
						<label for="email">Correo electrónico</label>
						<input name="email" id="email" type="email" />
						<strong><abbr title="required">*</abbr></strong>
					</p>
					<p class="input-container">
						<label for="password">Contraseña</label>
						<input id="password" name="password" type="password" />
						<strong><abbr title="required">*</abbr></strong>
					</p>
					<a href="#">Recuperar contraseña</a>
				</fieldset>
				<p class="button-container">
					<input type="submit" value="Iniciar sesión" />
					<button>
						<span>
							<img
								src="../assets/icons/google.svg"
								alt="Icono de Google "
							/>
						</span>
						Acceder con Google
					</button>
				</p>
				<p class="link-container">
					No tenes cuenta?
					<a href="register.html">Registrate aquí</a>
				</p>
			</form>
		</main>
	</body>
</html>
