<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Iniciar sesion | SongHub</title>
		<link rel="icon" href="../assets/icons/favicon.svg" />
		<link rel="stylesheet" href="../styles/login.css" />
		<script src="../scripts/index.js" type="module"></script>
	</head>
	<body>
		<main>
			<form action="/login" method="POST">
				<header>
					<h1>Bienvenido</h1>
					<h2>Por favor, ingresa tus credenciales</h2>
				</header>
				<fieldset>
					<legend>Informacion de inicio de sesión</legend>
					<p class="input-container">
						<input
							name="email"
							id="email"
							type="email"
							autocomplete="off"
							placeholder=" "
							required
							class="input"
							aria-labelledby="email-label"
						/>
						<label for="email" id="email-label"
							>Correo electrónico</label
						>
					</p>
					<p class="input-container">
						<input
							id="password"
							name="password"
							type="password"
							required
							class="input"
							aria-labelledby="password-label"
						/>
						<label for="password" id="password-label"
							>Contraseña</label
						>
					</p>
					<a href="#">Recuperar contraseña</a>
				</fieldset>
				<p class="button-container">
					<input type="submit" value="Iniciar sesión" />
					<button>
						<span>
							<img
								src="../assets/icons/google.svg"
								alt="Icono de Google "
							/>
						</span>
						Acceder con Google
					</button>
				</p>
				<p class="link-container">
					No tenes cuenta?
					<a href="register.html">Registrate aquí</a>
				</p>
			</form>
		</main>
	</body>
</html>
