<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" href="../assets/icons/favicon.ico" />
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
		/>
		<title>Post | SongHub</title>
	</head>

	<body>
		<header>
			<h1>
				<img src="../assets/icons/logo.svg" alt="Logo de SongHub" />
			</h1>
			<nav>
				<ul>
					<li>
						<a href="profile.html">Perfil</a>
						<img
							src="https://i.pinimg.com/236x/f4/e4/ff/f4e4ff0e8518813c6d5dde10a4d5164d.jpg"
							alt="Imagen de perfil"
						/>
					</li>
					<li>
						<a href="explore.html">Explorar</a>
					</li>
					<li>
						<form action="">
							<input
								type="search"
								name="search"
								id="search"
								placeholder="Buscar álbum o canción..."
							/>
						</form>
					</li>
				</ul>
			</nav>
		</header>

		<main>
			<article>
				<header>
					<figure>
						<img
							src="https://i.pinimg.com/564x/17/8c/ea/178ceaa5c0c24fd3cee2fe08dadf82e6.jpg"
							alt="Portada de canción 'Goteo' de Duki"
						/>
						<figcaption>
							<p>Álbum</p>
							<h2>The Dark Side Of The Moon</h2>
							<p>★★★★★</p>
						</figcaption>
					</figure>
					<section>
						<img
							src="https://i.pinimg.com/236x/94/7f/14/947f14841d26f5dc3541366a987b32f5.jpg"
							alt="Imagen de perfil de 'Usuario 1'"
						/>
						<p>
							<a href="profile.html">Usuario 1</a>
							<span>@username1</span>
							<span>hace 8hs</span>
						</p>
					</section>
				</header>
				<p>
					It has survived not only five centuries, but also the leap
					into electronic typesetting, remaining essentially
					unchanged. It was popularised in the 1960s with the release
					of Letraset sheets containing Lorem Ipsum passages, and more
					recently with desktop publishing software like Aldus
					PageMaker including versions of Lorem Ipsum.
				</p>
				<footer>
					<ul>
						<li>Increible</li>
						<li>Rock</li>
						<li>Internacional</li>
					</ul>
					<ul>
						<li>15</li>
						<li>★ 1000</li>
						<li>
							<span class="material-symbols-outlined">
								share
							</span>
						</li>
					</ul>
				</footer>
			</article>

			<section>
				<article>
					<header>
						<img
							src="https://i.pinimg.com/236x/2d/92/d0/2d92d085613a400e12fbadacc019e0e2.jpg"
							alt="Imagen de perfil de 'Usuario 2'"
						/>
						<p>
							<a href="profile.html">Usuario 2</a>
							<span>@username2</span>
							<span>hace 2h</span>
						</p>
					</header>
					<p>
						It has survived not only five centuries, but also the
						leap into electronic typesetting, remaining essentially
						unchanged. It was popularised in the 1960s with the
						release of Letraset sheets containing Lorem Ipsum
						passages, and more recently with desktop publishing
						software like Aldus PageMaker including versions of
						Lorem Ipsum.
					</p>
					<footer>
						<ul>
							<li>15</li>
							<li>★ 1000</li>
							<li>
								<span class="material-symbols-outlined">
									share
								</span>
							</li>
						</ul>
					</footer>
				</article>

				<article>
					<header>
						<img
							src="https://i.pinimg.com/564x/d4/36/ba/d436bae8fa33079d14e74b2213c0183a.jpg"
							alt="Imagen de perfil de 'Usuario 3'"
						/>
						<p>
							<a href="profile.html">Usuario 3</a>
							<span>@username3</span>
							<span>hace 4h</span>
						</p>
					</header>
					<p>
						It has survived not only five centuries, but also the
						leap into electronic typesetting, remaining essentially
						unchanged. It was popularised in the 1960s with the
						release of Letraset sheets containing Lorem Ipsum
						passages, and more recently with desktop publishing
						software like Aldus PageMaker including versions of
						Lorem Ipsum.
					</p>
					<footer>
						<ul>
							<li>15</li>
							<li>★ 1000</li>
							<li>
								<span class="material-symbols-outlined">
									share
								</span>
							</li>
						</ul>
					</footer>
				</article>

				<article>
					<header>
						<img
							src="https://i.pinimg.com/564x/d4/36/ba/d436bae8fa33079d14e74b2213c0183a.jpg"
							alt="Imagen de perfil de 'Usuario 3'"
						/>
						<p>
							<a href="profile.html">Usuario 3</a>
							<span>@username3</span>
							<span>hace 4h</span>
						</p>
					</header>
					<p>
						It has survived not only five centuries, but also the
						leap into electronic typesetting, remaining essentially
						unchanged. It was popularised in the 1960s with the
						release of Letraset sheets containing Lorem Ipsum
						passages, and more recently with desktop publishing
						software like Aldus PageMaker including versions of
						Lorem Ipsum.
					</p>
					<footer>
						<ul>
							<li>15</li>
							<li>★ 1000</li>
							<li>
								<span class="material-symbols-outlined">
									share
								</span>
							</li>
						</ul>
					</footer>
				</article>
			</section>
		</main>

		<footer>
			<section>
				<p>
					<span>
						<img
							src="../assets/icons/icon.svg"
							alt="Icono de SongHub"
						/>
						&#169; 2023 SongHub Inc.
					</span>
				</p>
				<p>
					<span>
						<img
							src="../assets/icons/spotify.svg"
							alt="Icono de Spotify"
						/>
						En colaboración con Spotify
					</span>
				</p>
			</section>
			<nav>
				<ul>
					<a href="terms.html">Terminos y condiciones</a>
					<a href="home.html">Volver al inicio</a>
				</ul>
			</nav>
		</footer>
	</body>
</html>
