<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" href="../assets/icons/favicon.svg" />
		<script src="../scripts/index.js" type="module"></script>
		<title>Perfil | SongHub</title>
	</head>
	<body>
		<header class="main-header">
			<h1>
				<a href="home.html">
					<img src="../assets/icons/logo.svg" alt="Logo de SongHub" />
				</a>
			</h1>
			<nav class="header-nav">
				<ul class="hidden" role="menu" id="main-menu">
					<li role="menuitem" class="search-item">
						<form action="">
							<label for="search" class="visually-hidden"
								>Buscar álbum, canción o artista</label
							>
							<input
								type="search"
								name="search"
								role="searchbox"
								id="search"
								autocomplete="off"
								placeholder="Buscar álbum, canción o artista..."
								class="input"
								aria-describedby="search-description"
							/>
							<p id="search-description" class="visually-hidden">
								Los resultados de la búsqueda aparecerán en un
								momento.
							</p>
						</form>
					</li>
					<li role="menuitem">
						<a href="home.html">INICIO</a>
					</li>
					<li role="menuitem">
						<a href="explore.html">EXPLORAR</a>
					</li>
					<li role="menuitem" class="profile-item">
						<a href="profile.html"> PERFIL </a>
					</li>
					<li role="menuitem" class="logout-item">
						<a href="#">
							<span>CERRAR SESION</span>
							<svg
								width="800px"
								height="800px"
								viewBox="0 0 24 24"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M15 16.5V19C15 20.1046 14.1046 21 13 21H6C4.89543 21 4 20.1046 4 19V5C4 3.89543 4.89543 3 6 3H13C14.1046 3 15 3.89543 15 5V8.0625M11 12H21M21 12L18.5 9.5M21 12L18.5 14.5"
									stroke="#000000"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
								/>
							</svg>
						</a>
					</li>
				</ul>
				<button
					class="menu-button"
					aria-expanded="false"
					aria-controls="main-menu"
				>
					<span class="material-symbols-outlined"> menu </span>
				</button>
			</nav>
		</header>

		<main>
			<header>
				<section>
					<img
						src="https://i.pinimg.com/236x/f4/e4/ff/f4e4ff0e8518813c6d5dde10a4d5164d.jpg"
						alt="Imagen de perfil"
						height="150px"
						width="150px"
					/>
					<h2>Usuario</h2>
					<input type="button" value="Seguir" />
					<button>
						Ver perfil
						<span
							><img
								src="../assets/icons/spotify.svg"
								alt="Spotify logo"
						/></span>
					</button>
				</section>

				<section>
					<ul>
						<li>
							<p><span>0</span>POSTS</p>
						</li>
						<li>
							<p><span>0</span>SEGUIDORES</p>
							<p></p>
						</li>
						<li>
							<p><span>0</span>SEGUIDOS</p>
						</li>
					</ul>
				</section>
			</header>

			<section>
				<h2>Tus álbumes favoritos</h2>
				<article>
					<figure>
						<img
							loading="lazy"
							src="https://i.pinimg.com/564x/89/28/e3/8928e372651fc60256360ba5e21a7d2f.jpg"
							alt="Portada del álbum 'Pulse' de Pink Floyd"
							width="150px"
							height="150px"
						/>
						<figcaption>
							<p>Pulse</p>
							<p>Pink Floyd</p>
						</figcaption>
					</figure>
				</article>

				<article>
					<figure>
						<img
							loading="lazy"
							src="https://i.pinimg.com/564x/99/41/82/99418264794012ddd044c761919fbb44.jpg"
							alt="Portada del álbum 'Punisher' de Phoebe Bridgers"
							width="150px"
							height="150px"
						/>
						<figcaption>
							<p>Punisher</p>
							<p>Phoebe Bridgers</p>
						</figcaption>
					</figure>
				</article>

				<article>
					<figure>
						<img
							loading="lazy"
							src="https://i.pinimg.com/564x/94/76/b8/9476b8e8cb9368ceba6f90bec0c1b980.jpg"
							alt="Portada del álbum 'Random Acces Memories' de Daft Punk"
							width="150px"
							height="150px"
						/>
						<figcaption>
							<p>Random Acces Memories</p>
							<p>Daft Punk</p>
						</figcaption>
					</figure>
				</article>

				<article>
					<figure>
						<img
							loading="lazy"
							src="https://i.pinimg.com/564x/dd/ff/e0/ddffe0a469a486bdde609fe2467e75c1.jpg"
							alt="Portada del álbum 'Led Zeppelin III' de Led Zeppelin"
							width="150px"
							height="150px"
						/>
						<figcaption>
							<p>Led Zeppelin III</p>
							<p>Led Zeppelin</p>
						</figcaption>
					</figure>
				</article>

				<article>
					<figure>
						<img
							loading="lazy"
							src="https://i.pinimg.com/564x/50/75/92/5075926b9579b1155b7e4366184c0f64.jpg"
							alt="Portada del álbum 'X100PRE' de Bad Bunny"
							width="150px"
							height="150px"
						/>
						<figcaption>
							<p>X100PRE</p>
							<p>Bad Bunny</p>
						</figcaption>
					</figure>
				</article>
			</section>

			<section>
				<h2>Tus canciones favoritas</h2>

				<article>
					<figure>
						<img
							loading="lazy"
							src="https://i.pinimg.com/564x/3d/65/d5/3d65d5e4af0cde2458b2e7b55869f4e6.jpg"
							alt="Portada del álbum 'Peso Pluma || Music Session' de Bizarrap"
							width="150px"
							height="150px"
						/>
						<figcaption>
							<p>Peso Pluma || Music Session</p>
							<p>Bizarrap</p>
						</figcaption>
					</figure>
				</article>

				<article>
					<figure>
						<img
							loading="lazy"
							src="https://i.pinimg.com/564x/aa/af/30/aaaf30cb2a66f80057d06d8e78b0bd3e.jpg"
							alt="Portada del álbum 'Bad Habit' de Steve Lazy"
							width="150px"
							height="150px"
						/>
						<figcaption>
							<p>Bad Habit</p>
							<p>Steve Lazy</p>
						</figcaption>
					</figure>
				</article>

				<article>
					<figure>
						<img
							loading="lazy"
							src="https://i.pinimg.com/564x/28/83/60/288360836d7d5532e52012bf06981410.jpg"
							alt="Portada del álbum 'Comfortably Numb' de Pink Floyd"
							width="150px"
							height="150px"
						/>
						<figcaption>
							<p>Comfortably Numb</p>
							<p>Pink Floyd</p>
						</figcaption>
					</figure>
				</article>

				<article>
					<figure>
						<img
							loading="lazy"
							src="https://i.pinimg.com/564x/5f/5f/45/5f5f45f7be4f8486ab60ab002c14325c.jpg"
							alt="Portada del álbum 'Stairway To Heaven' de Led Zeppelin"
							width="150px"
							height="150px"
						/>
						<figcaption>
							<p>Stairway To Heaven</p>
							<p>Led Zeppelin</p>
						</figcaption>
					</figure>
				</article>

				<article>
					<figure>
						<img
							loading="lazy"
							src="https://i.pinimg.com/564x/17/8c/ea/178ceaa5c0c24fd3cee2fe08dadf82e6.jpg"
							alt="Portada del álbum 'Goteo' de Duki"
							width="150px"
							height="150px"
						/>
						<figcaption>
							<p>Goteo</p>
							<p>Duki</p>
						</figcaption>
					</figure>
				</article>
			</section>
		</main>

		<footer class="main-footer">
			<section>
				<p>
					<img
						loading="lazy"
						src="../assets/icons/icon.svg"
						alt="Icono de SongHub"
						height="15px"
						width="15px"
					/>
					<span> &#169; 2023 SongHub Inc. </span>
				</p>
				<p>
					<img
						loading="lazy"
						src="../assets/icons/spotify.svg"
						alt="Icono de Spotify"
						height="15px"
						width="15px"
					/>
					<span> En colaboración con Spotify </span>
				</p>
			</section>
			<nav class="footer-nav">
				<ul>
					<li><a href="home.html">Volver al inicio</a></li>
					<li><a href="terms.html">Terminos y condiciones</a></li>
				</ul>
			</nav>
		</footer>
	</body>
	<script>
		window.addEventListener('load', () => {
			const contentElement = document.querySelector('html');
			const isScrollable =
				contentElement.scrollHeight > contentElement.clientHeight;
			const footer = document.querySelector('.main-footer');
			if (!isScrollable) {
				footer.classList.add('fixed');
			} else {
				footer.classList.remove('fixed');
			}
		});
	</script>
</html>
