<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" href="../assets/icons/favicon.svg" />
		<title>Perfil | SongHub</title>
	</head>
	<body>
		<header class="main-header">
			<h1>
				<img src="../assets/icons/logo.svg" alt="Logo de SongHub" />
			</h1>
			<nav class="header-nav">
				<ul>
					<li>
						<a href="profile.html">
							<img
								src="https://i.pinimg.com/236x/f4/e4/ff/f4e4ff0e8518813c6d5dde10a4d5164d.jpg"
								alt="Imagen de perfil"
							/>
							<span>PERFIL</span>
						</a>
					</li>
					<li>
						<a href="home.html">INICIO</a>
					</li>
					<li>
						<a href="explore.html">EXPLORAR</a>
					</li>
					<li>
						<form action="">
							<input
								type="search"
								name="search"
								id="search"
								autocomplete="off"
								placeholder="Buscar álbum o canción..."
							/>
						</form>
					</li>
				</ul>
				<button class="menu">
					<span class="material-symbols-outlined"> menu </span>
				</button>
			</nav>
		</header>

		<main>
			<header>
				<section>
					<img
						src="https://i.pinimg.com/236x/f4/e4/ff/f4e4ff0e8518813c6d5dde10a4d5164d.jpg"
						alt="Imagen de perfil"
					/>
					<h2>Usuario</h2>
					<input type="button" value="Seguir" />
					<button>
						Ver perfil
						<span
							><img
								src="../assets/icons/spotify.svg"
								alt="Spotify logo"
						/></span>
					</button>
				</section>

				<section>
					<ul>
						<li>
							<p><span>0</span>POSTS</p>
						</li>
						<li>
							<p><span>0</span>SEGUIDORES</p>
							<p></p>
						</li>
						<li>
							<p><span>0</span>SEGUIDOS</p>
						</li>
					</ul>
				</section>
			</header>

			<section>
				<h2>Tus álbumes favoritos</h2>
				<article>
					<figure>
						<img
							src="https://i.pinimg.com/564x/89/28/e3/8928e372651fc60256360ba5e21a7d2f.jpg"
							alt="Portada del álbum 'Pulse' de Pink Floyd"
						/>
						<figcaption>
							<p>Pulse</p>
							<p>Pink Floyd</p>
						</figcaption>
					</figure>
				</article>

				<article>
					<figure>
						<img
							src="https://i.pinimg.com/564x/99/41/82/99418264794012ddd044c761919fbb44.jpg"
							alt="Portada del álbum 'Punisher' de Phoebe Bridgers"
						/>
						<figcaption>
							<p>Punisher</p>
							<p>Phoebe Bridgers</p>
						</figcaption>
					</figure>
				</article>

				<article>
					<figure>
						<img
							src="https://i.pinimg.com/564x/94/76/b8/9476b8e8cb9368ceba6f90bec0c1b980.jpg"
							alt="Portada del álbum 'Random Acces Memories' de Daft Punk"
						/>
						<figcaption>
							<p>Random Acces Memories</p>
							<p>Daft Punk</p>
						</figcaption>
					</figure>
				</article>

				<article>
					<figure>
						<img
							src="https://i.pinimg.com/564x/dd/ff/e0/ddffe0a469a486bdde609fe2467e75c1.jpg"
							alt="Portada del álbum 'Led Zeppelin III' de Led Zeppelin"
						/>
						<figcaption>
							<p>Led Zeppelin III</p>
							<p>Led Zeppelin</p>
						</figcaption>
					</figure>
				</article>

				<article>
					<figure>
						<img
							src="https://i.pinimg.com/564x/50/75/92/5075926b9579b1155b7e4366184c0f64.jpg"
							alt="Portada del álbum 'X100PRE' de Bad Bunny"
						/>
						<figcaption>
							<p>X100PRE</p>
							<p>Bad Bunny</p>
						</figcaption>
					</figure>
				</article>
			</section>

			<section>
				<h2>Tus canciones favoritas</h2>

				<article>
					<figure>
						<img
							src="https://i.pinimg.com/564x/3d/65/d5/3d65d5e4af0cde2458b2e7b55869f4e6.jpg"
							alt="Portada del álbum 'Peso Pluma || Music Session' de Bizarrap"
						/>
						<figcaption>
							<p>Peso Pluma || Music Session</p>
							<p>Bizarrap</p>
						</figcaption>
					</figure>
				</article>

				<article>
					<figure>
						<img
							src="https://i.pinimg.com/564x/aa/af/30/aaaf30cb2a66f80057d06d8e78b0bd3e.jpg"
							alt="Portada del álbum 'Bad Habit' de Steve Lazy"
						/>
						<figcaption>
							<p>Bad Habit</p>
							<p>Steve Lazy</p>
						</figcaption>
					</figure>
				</article>

				<article>
					<figure>
						<img
							src="https://i.pinimg.com/564x/28/83/60/288360836d7d5532e52012bf06981410.jpg"
							alt="Portada del álbum 'Comfortably Numb' de Pink Floyd"
						/>
						<figcaption>
							<p>Comfortably Numb</p>
							<p>Pink Floyd</p>
						</figcaption>
					</figure>
				</article>

				<article>
					<figure>
						<img
							src="https://i.pinimg.com/564x/5f/5f/45/5f5f45f7be4f8486ab60ab002c14325c.jpg"
							alt="Portada del álbum 'Stairway To Heaven' de Led Zeppelin"
						/>
						<figcaption>
							<p>Stairway To Heaven</p>
							<p>Led Zeppelin</p>
						</figcaption>
					</figure>
				</article>

				<article>
					<figure>
						<img
							src="https://i.pinimg.com/564x/17/8c/ea/178ceaa5c0c24fd3cee2fe08dadf82e6.jpg"
							alt="Portada del álbum 'Goteo' de Duki"
						/>
						<figcaption>
							<p>Goteo</p>
							<p>Duki</p>
						</figcaption>
					</figure>
				</article>
			</section>
		</main>

		<footer class="main-footer">
			<section>
				<p>
					<img
						src="../assets/icons/icon.svg"
						alt="Icono de SongHub"
					/>
					<span> &#169; 2023 SongHub Inc. </span>
				</p>
				<p>
					<img
						src="../assets/icons/spotify.svg"
						alt="Icono de Spotify"
					/>
					<span> En colaboración con Spotify </span>
				</p>
			</section>
			<nav class="footer-nav">
				<ul>
					<li><a href="home.html">Volver al inicio</a></li>
					<li><a href="terms.html">Terminos y condiciones</a></li>
				</ul>
			</nav>
		</footer>
	</body>
</html>
