<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
		/>
		<link rel="stylesheet" href="../styles/song.css" />
		<link rel="icon" href="../assets/icons/favicon.svg" />
		<script src="../scripts/index.js" type="module"></script>
		<title>Cancion | SongHub</title>
	</head>
	<body>
		<header class="main-header">
			<h1>
				<a href="home.html">
					<img src="../assets/icons/logo.svg" alt="Logo de SongHub" />
				</a>
			</h1>
			<nav class="header-nav">
				<ul class="hidden" role="menu" id="main-menu">
					<li role="menuitem" class="search-item">
						<form action="">
							<label for="search" class="visually-hidden"
								>Buscar álbum, canción o artista</label
							>
							<input
								type="search"
								name="search"
								role="searchbox"
								id="search"
								autocomplete="off"
								placeholder="Buscar álbum, canción o artista..."
								class="input"
								aria-describedby="search-description"
							/>
							<p id="search-description" class="visually-hidden">
								Los resultados de la búsqueda aparecerán en un
								momento.
							</p>
						</form>
					</li>
					<li role="menuitem">
						<a href="home.html">INICIO</a>
					</li>
					<li role="menuitem">
						<a href="explore.html">EXPLORAR</a>
					</li>
					<li role="menuitem" class="profile-item">
						<a href="profile.html"> PERFIL </a>
					</li>
					<li role="menuitem" class="logout-item">
						<a href="#">
							<span>CERRAR SESION</span>
							<svg
								width="800px"
								height="800px"
								viewBox="0 0 24 24"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M15 16.5V19C15 20.1046 14.1046 21 13 21H6C4.89543 21 4 20.1046 4 19V5C4 3.89543 4.89543 3 6 3H13C14.1046 3 15 3.89543 15 5V8.0625M11 12H21M21 12L18.5 9.5M21 12L18.5 14.5"
									stroke="#000000"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
								/>
							</svg>
						</a>
					</li>
				</ul>
				<button
					class="menu-button"
					aria-expanded="false"
					aria-controls="main-menu"
				>
					<span class="material-symbols-outlined"> menu </span>
				</button>
			</nav>
		</header>

		<main>
			<figure>
				<img
					src="https://i.pinimg.com/564x/2f/18/9e/2f189e3be4ef04ab12a0a125efe4e67e.jpg"
					alt="Portada del álbum 'The Dark Side of the Moon' de Pink Floyd"
					width="225px"
					height="225px"
					class="image-border"
				/>
				<figcaption>
					<p>Canción</p>
					<h2>Comfortably Numb</h2>
					<p>The Dark Side Of The Moon</p>
				</figcaption>
				<p class="artist-info">
					<img
						src="https://i.pinimg.com/236x/20/cc/b2/20ccb24df9750b08d764e574fcec5f5d.jpg"
						alt="Imagen de perfil de 'Pink Floyd'"
						height="50px"
						width="50px"
					/>
					<span>Pink Floyd · 1973</span>
				</p>
			</figure>

			<section class="post-section">
				<p class="visibility">
					<span class="material-symbols-outlined"> lock </span>
					<span>Privada</span>
				</p>

				<form action="" method="GET">
					<textarea
						placeholder="Agrega una descripción..."
						name="description"
						id="description"
						cols="70"
						rows="10"
						class="input"
					></textarea>
					<p>
						<span class="tag">Increible</span>
						<input type="hidden" name="tag" value="Increible" />
						<span class="tag">Me gusta</span>
						<input type="hidden" name="tag" value="Me gusta" />
						<button class="tag-button submit-button">
							+ Agregar etiqueta
						</button>
					</p>
					<p>
						<label for="rate">Valoración</label>
						<span>★★★★★</span>
						<input type="hidden" value="3" name="rate" id="rate" />
					</p>
					<input
						type="submit"
						class="submit-button"
						value="Realizar post"
					/>
				</form>
				<button class="share-button">
					<span class="material-symbols-outlined"> share </span>
				</button>
			</section>
		</main>

		<footer class="main-footer">
			<section>
				<p>
					<img
						height="15px"
						width="15px"
						src="../assets/icons/spotify.svg"
						alt="Icono de Spotify"
					/>
					<span> En colaboración con Spotify </span>
				</p>
				<p>&#169; 2023 SongHub Inc.</p>
			</section>
			<nav class="footer-nav">
				<ul>
					<li><a href="home.html">Volver al inicio</a></li>
					<li><a href="terms.html">Terminos y condiciones</a></li>
				</ul>
			</nav>
		</footer>
	</body>
	<script>
		window.addEventListener('load', () => {
			const contentElement = document.querySelector('html');
			const isScrollable =
				contentElement.scrollHeight > contentElement.clientHeight;
			const footer = document.querySelector('.main-footer');
			if (!isScrollable) {
				footer.classList.add('fixed');
			} else {
				footer.classList.remove('fixed');
			}
		});
	</script>
</html>
