<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
		/>
		<link rel="icon" href="../assets/icons/favicon.ico" />
		<title>Cancion | SongHub</title>
	</head>
	<body>
		<header>
			<h1>
				<img src="../assets/icons/logo.svg" alt="Logo de SongHub" />
			</h1>
			<nav>
				<ul>
					<li>
						<a href="profile.html">Perfil</a>
						<img
							src="https://i.pinimg.com/236x/f4/e4/ff/f4e4ff0e8518813c6d5dde10a4d5164d.jpg"
							alt="Imagen de perfil"
						/>
					</li>
					<li>
						<a href="explore.html">Explorar</a>
					</li>
					<li>
						<form action="">
							<input
								type="search"
								name="search"
								id="search"
								placeholder="Buscar álbum o canción..."
							/>
						</form>
					</li>
				</ul>
			</nav>
		</header>

		<main>
			<img
				src="https://i.pinimg.com/564x/2f/18/9e/2f189e3be4ef04ab12a0a125efe4e67e.jpg"
				alt="Portada del álbum 'The Dark Side of the Moon' de Pink Floyd"
			/>
			<header>
				<p>Cancion</p>
				<h2>Comfortably Numb</h2>
			</header>

			<section>
				<img
					src="https://i.pinimg.com/236x/20/cc/b2/20ccb24df9750b08d764e574fcec5f5d.jpg"
					alt="Imagen de perfil de 'Pink Floyd'"
				/>
				<p>Pink Floyd</p>
			</section>

			<section>
				<p>
					<span class="material-symbols-outlined"> lock </span>
					Privada
				</p>

				<form action="">
					<textarea
						name="description"
						id="description"
						cols="70"
						rows="10"
					>
					</textarea>
				</form>

				<p>
					<label for="rate">Valoración</label>
					<span>★★★★★</span>
					<!-- <input type="hidden" name="rate" id="rate" /> -->
					<input
						type="range"
						step="0.5"
						min="0"
						max="5"
						name="rate"
						id="rate"
					/>
				</p>

				<button>Agregar tag</button>
				<button>
					<span class="material-symbols-outlined"> share </span>
					<span>Compartir canción</span>
				</button>

				<input type="submit" value="Postear" />
			</section>
		</main>

		<footer>
			<section>
				<p>
					<span>
						<img
							src="../assets/icons/icon.svg"
							alt="Icono de SongHub"
						/>
						&#169; 2023 SongHub Inc.
					</span>
				</p>
				<p>
					<span>
						<img
							src="../assets/icons/spotify.svg"
							alt="Icono de Spotify"
						/>
						En colaboración con Spotify
					</span>
				</p>
			</section>
			<nav>
				<ul>
					<a href="terms.html">Terminos y condiciones</a>
					<a href="home.html">Volver al inicio</a>
				</ul>
			</nav>
		</footer>
	</body>
</html>
