.cards-container {
	position: relative;
}

.cards-container figure.active {
	flex-grow: 2;
}

.cards-container figure img {
	max-height: 300px;
	max-width: 400px;
}

.cards-container figure.active img {
	display: block;
	width: 100%;
	filter: none;
}

.cards-container figure.active figcaption {
	position: absolute;
	width: initial;
	opacity: 1;
	color: var(--color-white);
	height: initial;
	font-size: 1.4rem;
	font-weight: bold;
	text-align: left;
	bottom: 50px;
	left: 20px;
	opacity: 1;
	filter: drop-shadow(2px 2px 2px var(--color-black));
	transition: opacity 200ms ease-in-out;
	transition-delay: 100ms;
}

.loader-container {
	border: none;
	outline: none;
	position: absolute;
	margin: auto;
	inset: 0;
	height: 16px;
	width: 150px;
	border-radius: 5px;
	background-color: white;
}

.loader {
	position: absolute;
	width: 0%;
	height: 100%;
	background-color: #723260;
}

.blur {
	filter: blur(30px);
}

.carousel-button {
	position: absolute;
	top: calc(50% - 20px);
	margin: auto;
	height: 30px;
	width: 30px;
	border: none;
	background-color: transparent;
	background-image: url('assets/arrow-light.svg');
	background-position: center;
	background-size: cover;
	cursor: pointer;
}

.left {
	left: 5px;
	transform: rotate(180deg);
}

.right {
	right: 5px;
}

.thumbs-container {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	width: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	z-index: 100000;
}

.thumb {
	background-color: #fff;
	height: 12px;
	width: 12px;
	border-radius: 50%;
	border: 1px solid #5e6871;
	cursor: pointer;
	outline-color: #5e6871;
	opacity: 1;
}

.active-thumb {
	background-color: #834370;
}

@media (min-width: 350px) {
	.cards-container figure img {
		max-height: initial;
	}
}

@media (min-width: 500px) {
	.carousel-button {
		background-image: url('assets/arrow-dark.svg');
	}
}

@media (min-width: 650px) {
	.left {
		left: 25px;
	}

	.right {
		right: 25px;
	}
}

@media (min-width: 700px) {
	.loader-container {
		width: 200px;
	}

	.cards-container {
		gap: 4px;
		max-height: 70vh;
	}

	.cards-container figure img {
		width: 120px;
		transition: all 300ms ease-in-out;
		display: block;
	}

	.cards-container figure.active img {
		display: block;
		width: 320px;
	}

	.cards-container figure.active figcaption {
		font-size: 1.2rem;
	}

	.carousel-button {
		display: none;
	}

	.thumbs-container {
		display: none;
	}
}

@media (min-width: 850px) {
	.cards-container figure.active img {
		display: block;
		width: 350px;
	}

	.cards-container figure.active figcaption {
		font-size: 1.3rem;
	}
}

@media (min-width: 1000px) {
	.cards-container figure.active img {
		width: 400px;
	}

	.cards-container figure.active figcaption {
		font-size: 1.3rem;
	}
}

@media (min-width: 1150px) {
	.carousel-button {
		display: block;
	}

	.left {
		left: 50px;
	}

	.right {
		right: 50px;
	}
}

@media (min-width: 1300px) {
	.cards-container figure.active img {
		display: block;
		width: 550px;
		max-width: 550px;
	}

	.cards-container figure img {
		width: 170px;
	}

	.cards-container figure.active figcaption {
		font-size: 1.4rem;
	}

	.left {
		left: 60px;
	}

	.right {
		right: 60px;
	}
}

@media (prefers-color-scheme: dark) {
	.carousel-button {
		background-image: url('assets/arrow-light.svg');
	}
}
