.cards-container {
	position: relative;
}

.cards-container figure.active {
	flex-grow: 2;
}

.cards-container figure.active figcaption {
	opacity: 1;
	position: absolute;
	bottom: 30px;
	font-size: 1.6rem;
	left: 20px;
	font-weight: bold;
	text-align: left;
	filter: drop-shadow(2px 2px 2px var(--color-black));
	color: var(--color-white);
}

.cards-container figure.active img {
	display: block;
	width: 100%;
	filter: none;
}

.cards-container figure.active figcaption {
	width: initial;
	height: initial;
	bottom: 60px;
	left: 40px;
	opacity: 1;
	transition: opacity 200ms ease-in-out;
	transition-delay: 100ms;
}

.loader-container {
	border: none;
	outline: none;
	position: absolute;
	margin: auto;
	inset: 0;
	height: 16px;
	width: 20%;
	border-radius: 5px;
	background-color: white;
}

.loader {
	position: absolute;
	width: 0%;
	height: 100%;
	background-color: #723260;
}

.blur {
	filter: blur(30px);
}

.carousel-button {
	position: absolute;
	top: calc(50% - 20px);
	margin: auto;
	height: 30px;
	width: 30px;
	border: none;
	outline: none;
	background-color: transparent;
	background-image: url('assets/arrow.svg');
	background-position: center;
	background-size: cover;
	cursor: pointer;
}

.left {
	left: 10px;
	transform: rotate(180deg);
}

.right {
	right: 10px;
}

.thumbs-container {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	width: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 15px;
	z-index: 100000;
}

.thumb {
	background-color: #f5e1fd;
	height: 12px;
	width: 12px;
	border-radius: 50%;
	border: 1px solid #5e6871;
	outline: none;
	cursor: pointer;
	opacity: 1;
}

.active-thumb {
	background-color: #834370;
}

@media (min-width: 600px) {
	.left {
		left: 25px;
	}

	.right {
		right: 25px;
	}
}

@media (min-width: 700px) {
	.cards-container figure.active img {
		display: block;
		width: 320px;
	}

	.cards-container figure.active figcaption {
		font-size: 1.2rem;
	}

	.cards-container figure img {
		display: block;
	}

	.carousel-button {
		display: none;
	}

	.thumbs-container {
		display: none;
	}
}

@media (min-width: 850px) {
	.cards-container figure.active img {
		display: block;
		width: 350px;
	}

	.cards-container figure.active figcaption {
		font-size: 1.3rem;
	}
}

@media (min-width: 1000px) {
	.cards-container figure.active img {
		width: 400px;
	}

	.cards-container figure.active figcaption {
		font-size: 1.3rem;
	}
}

@media (min-width: 1150px) {
	.carousel-button {
		display: block;
	}

	.left {
		left: 15px;
	}

	.right {
		right: 15px;
	}
}

@media (min-width: 1300px) {
	.cards-container figure.active img {
		display: block;
		width: 550px;
	}

	.cards-container figure.active figcaption {
		font-size: 1.4rem;
	}

	.left {
		left: 25px;
	}

	.right {
		right: 25px;
	}
}
