@import url('variables.css');

body {
	position: relative;
}

.main-footer {
	background-color: var(--color-violet-darkest);
	min-height: 80px;
	height: 10vh;
	max-height: 90px;
	width: 100%;
	font-family: var(--font-family);
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 2.5rem;
}

.main-footer section {
	width: 65%;
	display: inline-block;
	padding-top: 0.5rem;
	position: relative;
	bottom: 5px;
}

.main-footer section p {
	padding-left: 1rem;
	width: fit-content;
	margin-top: 2px;
	display: flex;
	align-items: center;
	margin-left: 25px;
	display: block;
	color: var(--color-grey-very-light);
	font-size: 0.75rem;
}

.main-footer section p:first-child {
	margin-left: 0;
}

.main-footer section p img {
	width: 18px;
	height: 18px;
	margin-right: 5px;
}

.main-footer section p span {
	position: relative;
	bottom: 5px;
}

.footer-nav {
	display: inline-block;
	width: 35%;
	position: relative;
	top: 8px;
}

.footer-nav ul {
	height: 100%;
	width: 100%;
}

.footer-nav ul li a {
	font-size: 0.8rem;
	display: inline-block;
	font-weight: bolder;
	margin-bottom: 0.6rem;
	vertical-align: middle;
	width: 100%;
	color: var(--color-white);
	text-decoration: none;

	.fixed {
		position: fixed;
		/* Si NO HAY scroll vertical (Y) tiene que posicionarse con relative */
		bottom: 0;
	}
}

@media (min-width: 650px) {
	.main-footer section p {
		padding-left: 1.5rem;
	}
}

@media (min-width: 900px) {
	.footer-nav ul li a {
		font-size: 0.85rem;
	}

	.main-footer section p {
		font-size: 0.82rem;
		padding-left: 32px;
		text-align: center;
		width: auto;
	}

	.main-footer section p:nth-child(2) {
		margin-left: 0;
		position: relative;
		right: 6px;
	}
}
