@import url('variables.css');

body {
	position: relative;
}

.main-footer {
	background-color: var(--color-violet-darkest);
	min-height: 100px;
	height: 10vh;
	max-height: 120px;
	width: 100%;
	font-family: var(--font-family);
	position: relative;
}

.main-footer section {
	width: 60%;
	height: 100%;
	display: inline-block;
	padding-top: 0.5rem;
}

.main-footer section p {
	height: 50%;
	padding: 0rem 0.5rem;
	display: flex;
	align-items: center;
}

.main-footer section p:first-child span {
	margin-left: 0.2rem;
}

.main-footer section p span {
	display: inline-block;
	margin-left: 0.5rem;
	color: var(--color-grey-light);
	font-size: 0.7rem;
	font-weight: bold;
}

.main-footer section p img {
	width: 15px;
	height: 15px;
}

.footer-nav {
	display: inline-block;
	width: 38%;
	position: relative;
	bottom: 5px;
}

.footer-nav ul {
	height: 100%;
	width: 100%;
}
.footer-nav ul li {
	display: block;
	height: 50%;
}

.footer-nav ul li a {
	font-size: 0.8rem;
	display: inline-block;
	margin-bottom: 0.6rem;
	vertical-align: middle;
	width: 100%;
	font-weight: bold;
	color: var(--color-white);
	text-decoration: none;
}

@media (min-width: 900px) {
	.footer-nav ul li a {
		font-size: 1rem;
	}

	.main-footer section p span {
		font-size: 0.9rem;
	}
}

@media (min-width: 1000px) {
	.main-footer section {
		padding-top: 25px;
	}

	.main-footer section p {
		display: inline-flex;
		align-items: flex-end;
	}

	.footer-nav {
		top: 15px;
	}

	.main-footer section p {
		padding: 0rem 1rem;
	}
}

.fixed {
	position: fixed; /* Si NO HAY scroll vertical (Y) tiene que posicionarse con relative */
	bottom: 0;
}
