main .section {
	width: 90%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 8px;
	padding-bottom: 1.5rem;
	padding-top: 0.5rem;
	grid-template-rows: 50px;
	grid-auto-flow: row;
	grid-auto-rows: 230px;
}

.section-title {
	grid-column: 1/3;
}

article {
	margin: auto;
	margin-top: 0.5rem;
	width: 100%;
	position: relative;
	max-width: 200px;
}

.section .article-img-container {
	width: 100%;
	height: auto;
}

.section .article-img-container::before {
	content: '';
	display: block;
	padding-top: 80%;
}

article a {
	text-decoration: none;
}

figure {
	min-width: 140px;
	min-height: 140px;
}

figure img {
	height: 100%;
	width: 100%;
}

.section article figcaption {
	width: 100%;
	margin-left: 0.05rem;
	padding-left: 0.3rem;
	margin-top: 12px;
	border-left: 2px solid var(--color-violet-dark);
}

@media (min-width: 400px) {
	main .section {
		grid-auto-rows: 260px;
	}
}

@media (min-width: 700px) {
	.section-title {
		grid-column: 1/4;
	}

	main .section {
		grid-template-columns: repeat(3, 1fr);
		gap: 16px;
	}
}

@media (min-width: 1000px) {
	.section-title {
		grid-column: 1/5;
	}

	main .section {
		grid-template-columns: repeat(4, 1fr);
		gap: 0px;
	}

	.section .article-img-container::before {
		padding-top: 70%;
	}
}

@media (min-width: 1200px) {
	.section-title {
		grid-column: 1/6;
	}

	main .section {
		grid-template-columns: repeat(5, 1fr);
	}
}

@media (prefers-color-scheme: dark) {
	.section article figcaption {
		border-color: var(--color-white);
	}
}
