@import url('variables.css');

.main-header {
	position: sticky;
	z-index: 1000;
	top: 0vh;
	background-color: var(--color-violet-darkest);
	height: 80px;
	width: 100%;
	display: flex;
	font-family: var(--font-family);
}

h1 {
	width: 35%;
	max-width: 140px;
	height: 100%;
	display: inline-block;
}

h1 img {
	height: 100%;
	width: 100%;
	min-width: 150px;
	padding: 0 20px;
}

.header-nav {
	margin: auto;
	margin-right: 0;
	padding: 0 20px;
	height: 100%;
	display: inline-block;
}

.menu-button {
	position: absolute;
	right: 25px;
	top: 0px;
	bottom: 0px;
	background-color: transparent;
	color: var(--color-white);
	border: none;
	cursor: pointer;
	height: 100%;
}

.menu-button span {
	font-size: 2.2rem;
}

.header-nav ul {
	display: flex;
	padding: 1rem;
	flex-direction: column;
	align-items: left;
	gap: 24px;
	width: 250px;
	background-color: var(--color-violet-darkest);
	position: absolute;
	right: 0;
	top: 80px;
	border: 1px solid white;
	border-top: none;
	border-right: none;
	transition: opacity 300ms ease-in-out;
	opacity: 1;
}

.header-nav ul.hidden {
	top: -1000px;
	opacity: 0;
}

.header-nav ul li:first-child a {
	display: flex;
	align-items: center;
	justify-content: left;
}

.header-nav ul li:first-child span {
	text-align: center;
}

.header-nav ul li {
	font-size: 1rem;
	font-weight: bold;
}

.header-nav ul li:hover {
	text-decoration: underline;
	text-underline-offset: 4px;
}

.header-nav ul li a {
	text-decoration: none;
	color: var(--color-white);
	font-size: 0.9rem;
}

.header-nav ul li img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	order: 2;
	margin-left: 1rem;
}

.header-nav ul li form input {
	position: relative;
	height: 2rem;
	font-size: 0.8rem;
	width: 210px;
	color: var(--color-white);
	border: 2px solid var(--color-violet-light-white);
}

.header-nav ul li form input::placeholder {
	color: var(--color-grey-light);
}

@media (min-width: 900px) {
	.menu-button {
		display: none;
		position: absolute;
	}

	.header-nav ul {
		position: static;
		display: flex;
		background-color: transparent;
		top: 0;
		right: 0;
		display: flex;
		flex-direction: row;
		height: 100%;
		align-items: center;
		justify-content: flex-end;
		gap: 1.5rem;
		border: none;
	}

	.header-nav ul.hidden {
		display: flex;
	}

	.header-nav ul li span {
		font-size: 0.9rem;
	}

	.header-nav ul li:first-child a {
		justify-content: center;
	}

	.header-nav ul li:first-child span {
		text-align: center;
		margin-left: 1rem;
		order: 2;
	}

	.header-nav ul li form input {
		width: 200px;
	}
}

@media (min-width: 1250px) {
	form input {
		width: 250px;
	}

	h1 img {
		min-width: 160px;
	}
}
