@import url('variables.css');

.main-header {
	position: sticky;
	z-index: 1000;
	top: 0vh;
	background-color: var(--color-violet-darkest);
	min-height: 90px;
	height: 10vh;
	max-height: 100px;
	width: 100%;
	font-family: var(--font-family);
}

h1 {
	width: 35%;
	max-width: 230px;
	min-width: 100px;
	height: 65%;
	position: relative;
	bottom: 18px;
	left: 15px;
	display: inline-block;
	border-radius: 10px;
}

h1 img {
	height: 100%;
	width: 100%;
}

.header-nav {
	width: 63%;
	height: 100%;
	position: relative;
	display: inline-block;
}

.menu {
	position: absolute;
	right: 25px;
	top: 0px;
	bottom: 0;
	background-color: transparent;
	color: var(--color-white);
	outline: none;
	border: none;
}

.menu span {
	font-size: 2.2rem;
}

.header-nav ul {
	display: none;
}

@media (min-width: 900px) {
	.menu {
		display: none;
	}

	h1 {
		width: 20%;
		top: 5px;
		left: 15px;
	}

	.header-nav {
		width: 75%;
		height: 100%;
	}

	.header-nav ul {
		margin: 0;
		padding: 0;
		display: flex;
		width: 100%;
		height: 100%;
		align-items: center;
		justify-content: flex-end;
		gap: 1.5rem;
	}

	.header-nav ul li:first-child a {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.header-nav ul li:first-child span {
		margin-left: 1rem;
		text-align: center;
	}

	.header-nav ul li {
		font-size: 1rem;
		font-weight: bold;
	}
	.header-nav ul li a {
		text-decoration: none;
		color: var(--color-white);
	}

	.header-nav ul li img {
		width: 50px;
		height: 50px;
		border-radius: 50%;
	}

	.header-nav ul li form input {
		position: relative;
		height: 2.2rem;
		font-size: 1.02rem;
		width: 220px;
		color: var(--color-white);
		border-width: 2px;
	}

	.header-nav ul li form input::placeholder {
		color: var(--color-grey-light);
	}

	.header-nav ul li form input:focus {
		border: none;
		outline: 2px solid var(--color-violet-light);
	}
}

@media (min-width: 1250px) {
	.header-nav {
		width: 80%;
	}

	.header-nav ul li form input {
		width: 250px;
	}
}

@media (min-width: 1600px) {
	.header-nav {
		width: 85%;
	}
}

@media (prefers-color-scheme: dark) {
	.header-nav ul li form input::placeholder {
		color: var(--color-grey-light);
	}
}
