.icon {
	font-size: 20px;
}

.share-icon,
.close-icon,
.share-icon {
	color: var(--color-violet-darkest);
}

.more-icon {
	font-size: 14px;
	color: var(--color-white);
}

.post-icon,
.song-icon {
	color: var(--color-white);
}

.open-menu-icon {
	font-size: 32px;
	min-height: 20px;
	min-width: 20px;
	color: var(--color-white);
}

.close-menu-icon {
	min-height: 20px;
	min-width: 20px;
	font-size: 22px;
}

.open-menu-icon,
.close-menu-icon {
	color: var(--color-white);
	background: transparent;
	z-index: 100;
	position: relative;
}

.open-menu-icon::before,
.close-menu-icon::before {
	position: relative;
	z-index: -1;
}

.heart-icon.active {
	color: var(--color-red);
}

.share-icon:hover {
	filter: brightness(0.8);
}

.heart-icon:hover {
	color: var(--color-red);
}

@media (prefers-color-scheme: dark) {
	.share-icon,
	.close-icon,
	.share-icon {
		color: var(--color-white);
	}
}
