@import url('header.css');
@import url('footer.css');
@import url('utilities.css');
@import url('titles.css');

main {
	margin-left: auto;
	margin-right: auto;
	width: min(100%, var(--content-max-width));
}