.modal {
  font-family: var(--font-family);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--opacity-color-violet-dark-black);
  display: grid;
  place-content: center;
  z-index: 10;
}

.modal-content {
  background-color: var(--color-white);
  border-radius: 20px;
  width: 90vw;
}

.close-button {
  background: none;
  border: none;
  background-image: url("/assets/icons/black-close-menu.svg");
  background-size: cover;
  width: 30px;
  height: 30px;
  float: inline-end;
  margin: 10px 10px 0 0;
}

.modal-content figure,
.modal-content form {
  margin: 1rem;
}

.modal-content figure img {
  margin-bottom: 1rem;
}

.artist-info {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  height: 30px;
  margin: 0.5rem 0;
}

.title {
  font-size: 1.4rem;
}

.artist-info img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: auto 0;
}

.artist-info span {
  font-size: 0.8rem;
  margin-left: 10px;
}

.modal-content form textarea {
  width: 100%;
  height: 5rem;
  padding: 10px;
}


.tags-section {
  padding: 0.6rem 0;
  overflow: hidden;
}

.tags-section span {
  margin-right: 10px;
}

.input-tag,
.tag-button {
  width: 100px;
  height: 2rem;
  display: inline;
}

.tag-button {
  margin-left: 10px;
}

.rating {
  padding: 0.4rem 0;
  display: inline-flex;
  align-items: center;
  width: fit-content;
}

.rating span,
.rating label {
  color: var(--color-violet-dark);
}

.rating label {
  font-weight: bold;
}

.rating span {
  margin-left: 10px;
  font-size: 2rem;
}

.share-container {
  display: inline-block;

}

.share-button {
  background: none;
  border: none;
  background-image: url('../../assets/icons/post-icons/share.svg');
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

@keyframes button-shadow {
  to {
    box-shadow: inset 0px 0px 50px var(--color-violet-light-white);
  }
}

.share-button:hover {
  cursor: pointer;
  animation: button-shadow 200ms forwards;
  animation-delay: 0ms;
}

.submit-container {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 0.4rem;
  place-content: center;
}

.postear-button {
  background-color: var(--color-green-dark);
  border-color: var(--color-green-dark);
}