.post {
	margin-top: 1rem;
	width: 100%;
	border-bottom: 1px solid var(--color-grey-very-light);
}

.post figure {
	display: grid;
	grid-template-columns: 110px auto;
}

.post-img {
	display: inline-block;
	height: 100px;
	width: 100px;
	border-radius: 10px;
	grid-row: span 3;
}

.user-info {
	display: flex;
	align-items: center;
	gap: 8px;
	margin-bottom: 8px;
}

.post-time {
	opacity: 0;
}

.user-img {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	margin-left: 8px;
}

.user-name {
	width: 80px;
}

.user-name a {
	text-decoration: none;
	color: var(--color-violet-darkest);
	font-weight: bold;
	font-size: 0.9rem;
}

.user-name a:hover {
	text-decoration: underline;
}

.user-name span {
	font-size: 0.8rem;
	color: var(--color-grey-dark);
}

.post figcaption {
	margin-left: 0.5rem;
}

.post figcaption .tag {
	display: none;
	margin: 0.8rem 0 0 0;
}

.post figcaption a:hover {
	opacity: 90%;
}

.stars {
	padding: 4px 0;
	color: var(--color-violet-light);
}

.post a {
	text-decoration: none;
	color: inherit;
}

.post figcaption a:hover {
	text-decoration: underline;
}

.post-content {
	margin: 1rem 0;
	line-height: 1.3;
	max-width: 550px;
	cursor: pointer;
}

.post a.read-more {
	color: var(--color-violet-dark);
	font-weight: bold;
	cursor: pointer;
	font-size: 0.8rem;
}

.post a.read-more:hover {
	text-decoration: underline;
	text-underline-offset: 2px;
}

.post footer {
	margin-bottom: 1rem;
	display: flex;
	justify-content: end;
	gap: 12px;
}

.post footer section {
	display: flex;
	width: fit-content;
	justify-content: center;
	align-items: center;
	gap: 2px;
}

.post footer section p {
	margin-left: 0;
	font-weight: 500;
	margin-top: 2px;
	font-size: 0.8rem;
}

.reaction-container button {
	background: none;
	border: none;
	border-radius: 100%;
	width: 22px;
	height: 22px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 16px;
}

.reaction-container:hover button:first-child {
	cursor: pointer;
	animation: button-shadow 200ms forwards;
	animation-delay: 0ms;
}

.like-container:hover button:first-child {
	cursor: pointer;
	animation: favorite-button-shadow 200ms forwards;
	animation-delay: 0ms;
}

@keyframes button-shadow {
	to {
		box-shadow: inset 0px 0px 50px var(--color-violet-light-white);
	}
}

@keyframes favorite-button-shadow {
	to {
		box-shadow: inset 0px 0px 50px var(--color-yellow);
		opacity: 0.6;
	}
}

.share-container button {
	background-image: url('../../assets/icons/post-icons/share.svg');
	background-size: 14px;
	position: relative;
	top: 1px;
}

.comment-container button {
	background-image: url('../../assets/icons/post-icons/comment.svg');
}

.like-container .unlike {
	background-image: url('../../assets/icons/post-icons/star.svg');
}

.like-container .like {
	background-image: url('../../assets/icons/post-icons/yellow_star.svg');
}

@media (min-width: 375px) {
	.user-info {
		position: relative;
	}

	.post-time {
		color: var(--color-grey-light);
		font-size: 12px;
		opacity: 1;
		position: absolute;
		right: 4px;
	}

	.user-name {
		width: 100px;
	}
}

@media (min-width: 425px) {
	.reaction-container button {
		background-size: 18px;
	}

	.post footer section p {
		font-size: 0.9rem;
	}

	.share-container button {
		background-size: 16px;
	}
}

@media (min-width: 1000px) {

	.post {
		padding: 0 2rem;
	}

	.post figure {
		grid-template-columns: 190px auto;
		row-gap: 0.8rem;
	}

	.post-img {
		height: 180px;
		width: 180px;
		grid-row: 2;
	}

	.user-info {
		grid-template-columns: 50px auto auto;
		grid-column: span 3;
	}

	.user-name {
		margin: auto 0;
	}

	.user-name a {
		font-size: 1rem;
	}

	.user-img {
		height: 30px;
		width: 30px;
	}

	.post-time {
		margin: auto 0 auto auto;
	}

	.post figcaption {
		grid-row: 2;
	}

	.post figcaption p.stars {
		margin-top: 10px;
		font-size: 1.6rem;
	}

	.post figcaption .tag {
		display: inline-block;
	}

	.stars {
		padding: 0;
	}

	.post-content {
		max-width: 80%;
	}
}

@media (min-width: 1400px) {
	/*.post-content p {
		max-width: 850px;
	}*/
}

@media (prefers-color-scheme: dark) {
	.user-name a {
		color: var(--color-violet-lightest);
	}

	.user-name span {
		color: var(--color-grey-very-light);
	}

	.stars {
		color: var(--color-violet-lightest);
	}

	.post {
		margin-top: 1.5rem;
	}

	@keyframes button-shadow {
		to {
			box-shadow: inset 0px 0px 50px var(--color-violet-lightest);
			opacity: 80%;
		}
	}

	.share-container button {
		background-image: url('../../assets/icons/post-icons/dark_mode_share.svg');
	}

	.comment-container button {
		background-image: url('../../assets/icons/post-icons/dark_mode_comment.svg');
	}

	.like-container .unlike {
		background-image: url('../../assets/icons/post-icons/dark_mode_star.svg');
	}

	.post a.read-more {
		color: var(--color-violet-light-white);
	}
}