.section-title {
	font-size: 1.35rem;
	font-weight: bold;
	color: var(--color-violet-dark);
	border-bottom: 0.8px solid var(--color-violet-dark);
	padding: 1.3rem 0 0.5rem 0;
	width: 100%;
}

.song-title {
	font-weight: bold;
	width: 100%;
	font-size: 0.95rem;
	color: var(--color-violet-dark);
	margin: 4px 0;
}

.artist-title {
	font-size: 0.9rem;
	color: var(--color-violet-dark-black);
}

.type-title {
	color: var(--color-grey-light);
	font-size: 0.8rem;
	font-weight: 300;
}

@media (min-width: 1000px) {
	.section-title {
		font-size: 1.45rem;
	}

	.song-title {
		font-size: 1.05rem;
	}
}

@media (prefers-color-scheme: dark) {
	.section-title {
		color: var(--color-white);
		border-color: var(--color-white);
	}

	.song-title {
		color: var(--color-violet-light-white);
	}

	.artist-title {
		color: var(--color-white);
	}
}
