.input {
	font-family: var(--font-family);
	height: 3rem;
	border-radius: 6px;
	background-color: transparent;
	outline: none;
	padding: 0rem 0.5rem;
	font-size: 1rem;
	border: 1px solid var(--color-violet-light);
}

.input:focus {
	border: none;
	outline: 2px solid var(--color-violet-lightest);
}

.image-border {
	border-radius: 10px;
	border: 1px solid var(--color-violet-dark);
}

@media (prefers-color-scheme: dark) {
	.input {
		border-color: var(--color-violet-light-white);
		color: var(--color-white);
	}

	.input:focus {
		border: none;
		outline: 2px solid var(--color-violet-light);
	}

	.image-border {
		border-color: var(--color-grey-medium);
	}
}