@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500&display=swap');

:root {
	--color-violet-light-white: #f5e1fd; /* Violeta casi blanco */
	--color-violet-lightest: #ba93ae; /* Violeta más claro */
	--color-violet-light: #834370; /* Violeta claro */
	--color-violet: #723260; /* Violeta */
	--color-violet-dark: #4f1140; /* Violeta oscuro */
	--color-violet-darkest: #1b0026; /* Violeta más oscuro */
	--color-violet-dark-black: #0f0018; /* Violeta casi negro*/
	--color-black: #000009; /* Negro*/
	--color-white: #ffffff; /* Blanco*/
	--color-grey-very-light: #bfc4c9; /* Gris claro*/
	--color-grey-light: #838c94; /* Gris claro*/
	--color-grey-medium: #5e6871; /* Gris claro*/
	--color-grey-dark: #2e3045; /* Gris oscuro*/
	--color-green: #14ff00; /* Verde - Exito*/
	--color-red: #c30303; /* Rojo - Error*/
	--color-yellow: #ffdd00; /* Rojo - Error*/
	--font-family: 'Roboto', sans-serif;
	--content-max-width: 1300px;
}
