.pagination-container {
	text-align: center;
}

.pagination-container button {
	margin: 0 2px;
	width: 25px;
	height: 25px;
	border: none;
	opacity: 75%;
	border-radius: 5px;
	background-color: var(--color-violet-dark);
	color: var(--color-white);
}

.pagination-container button.arrow i {
	position: relative;
	top: 1px;
}

.pagination-container button:hover {
	cursor: pointer;
	opacity: 90%;
}

.pagination-container button.selected-button {
	opacity: 100%;
	font-weight: bold;
}
