section.feed {
	position: relative;
}

.no-border {
	border-color: transparent;
	padding-bottom: 48px !important;
}

.feed-loader {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background: radial-gradient(farthest-side, #1db954 94%, #0000) top/8px 8px
			no-repeat,
		conic-gradient(#0000 30%, #1db954);
	mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
	-webkit-mask: radial-gradient(
		farthest-side,
		#0000 calc(100% - 8px),
		#000 0
	);
	position: absolute;
	/* bottom: -10px; */
	left: 50%;
	animation: s3 1s infinite linear;
}

@keyframes s3 {
	100% {
		transform: rotate(1turn);
	}
}
