@import url('global/variables.css');
@import url('global/main.css');
@import url('global/post.css');
@import url('global/modal-access.css');

body {
	font-family: var(--font-family);
}

.song-section figure {
	width: 100%;
	padding: 8px;
	margin-top: 16px;
}

.song-section figure img {
	height: 190px;
	width: 190px;
}

.song-section figure figcaption {
	margin-top: 12px;
	color: var(--color-violet-darkest);
}

.song-section figure figcaption p {
	font-size: 0.95rem;
	color: var(--color-black);
}

.song-section figure figcaption h2 {
	padding: 4px 0;
	font-size: 1.5rem;
	font-weight: bold;
}

.song-section figure figcaption h3 {
	padding: 4px 0;
	font-size: 1.2rem;
}

.song-section figure figcaption p.artist-info {
	display: flex;
	padding: 4px 2px;
	align-items: center;
	height: 50px;
	color: var(--color-black);
}

.song-section figure figcaption p.artist-info img {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	margin-right: 8px;
}

.song-section figure figcaption p.artist-info a {
	font-size: 0.9rem;
	text-decoration: none;
}

.song-section figure figcaption p.artist-info a:hover {
	opacity: 0.9;
	text-decoration: underline;
	text-underline-offset: 4px;
}

.song-actions {
	display: flex;
	max-width: 305px;
	padding-left: 8px;
	flex-direction: column-reverse;
	gap: 16px;
}

.song-actions section {
	text-align: right;
	display: flex;
	gap: 12px;
	padding-right: 4px;
	justify-content: flex-end;
}

.song-actions .submit-button {
	min-width: 200px;
}

.song-actions button.share-button,
.song-actions button.favourite-button,
.song-actions button.track-preview-button,
.song-actions a.spotify-button {
	height: 18px;
	width: 18px;
	cursor: pointer;
	border: none;
	background-color: transparent;
	text-decoration: none;
}

.song-section section.song-stats {
	position: relative;
	max-width: 400px;
	margin-top: 4px;
	padding: 12px;
}

.song-section section.song-stats h2 {
	display: inline-block;
	font-weight: bold;
}

.song-section section.song-stats p.posts-amount,
.song-section section.song-stats p.qualification span.number {
	font-size: 0.95rem;
	color: var(--color-black);
	display: inline-block;
	margin-left: 2px;
}

.song-section section.song-stats p.qualification {
	margin-top: 2px;
}

.song-section section.song-stats p.qualification span.stars {
	color: var(--color-violet-darkest);
	min-width: 77px;
	font-size: 1.2rem;
	display: inline-block;
}

section.most-popular-posts article:last-child,
section.most-recent-posts article:last-child {
	border-bottom: none;
}

@media (min-width: 600px) {
	.song-section {
		position: relative;
	}

	.song-section figure {
		display: flex;
		gap: 24px;
	}

	.song-section section.song-stats {
		max-width: 550px;
	}

	.song-section section.song-stats h2 {
		font-size: 1.2rem;
	}

	.song-section section.song-stats p.qualification span.number,
	.song-section section.song-stats p.posts-amount {
		font-size: 1rem;
	}

	.song-section section.song-stats p.qualification span.stars {
		min-width: 95px;
		font-size: 1.4rem;
	}

	.song-actions {
		align-items: center;
		flex-direction: row;
		max-width: 450px;
	}

	.song-actions section {
		text-align: left;
		align-items: center;
		gap: 12px;
	}
}

@media (min-width: 1000px) {
	.song-section figure img {
		height: 220px;
		width: 220px;
	}
}

@media (prefers-color-scheme: dark) {
	.song-section figure figcaption,
	.song-section figure figcaption p {
		color: var(--color-white);
	}

	.song-section figure figcaption h2,
	.song-section figure figcaption h3 {
		color: var(--color-violet-light-white);
	}

	.song-section figure figcaption p.artist-info a {
		color: var(--color-white);
	}

	.song-section section.song-stats p.posts-amount,
	.song-section section.song-stats p.qualification span.number {
		color: var(--color-white);
	}

	.song-section section.song-stats p.qualification span.stars {
		color: var(--color-violet-lightest);
	}
}
