@import url('global/variables.css');
@import url('global/main.css');

html {
	overflow-y: hidden;
}

main {
	min-height: calc(100% - 170px);
	overflow: hidden;
	overflow-y: hidden;
}

main h2 {
	font-size: 2.2rem;
	color: var(--color-violet-dark);
}

form {
	margin-top: 32px;
}

form fieldset {
	width: 100%;
	max-width: 600px;
	min-width: 260px;
	margin: auto;
}

form fieldset .input-container,
form fieldset .button-container {
	margin: auto;
	margin-bottom: 16px;
	width: 90%;
	max-width: 600px;
	min-width: 200px;
}

form fieldset .button-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap-reverse;
	gap: 8px;
	margin-top: 32px;
}

form fieldset .input-container label {
	display: block;
	padding: 8px 1px;
	font-weight: normal;
}

form fieldset .input-container input {
	width: 100%;
}

a.submit-outline-button {
	width: 50%;
	display: inline-block;
	max-width: 250px;
	min-width: 140px;
	line-height: 2.3rem;
	text-decoration: none;
}

input[type='submit'].submit-button {
	width: 50%;
	min-width: 140px;
	max-width: 250px;
}

@media (min-width: 400px) {
	input[type='submit'].submit-button {
		display: inline-block;
	}
}

@media (min-width: 900px) {
	main h2 {
		font-size: 3.3rem;
		color: var(--color-violet-dark);
	}
}

@media (prefers-color-scheme: dark) {
	main h2 {
		color: var(--color-violet-lightest);
	}

	main h3 {
		color: var(--color-violet-light-white);
	}
}
