@import url('global/variables.css');
@import url('global/main.css');
@import url('global/modal-access.css');
@import url('global/grid-section.css');
@import url('search.css');

body {
	font-family: var(--font-family);
}

main {
	padding: 1rem 0;
	padding-bottom: 72px;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: var(--color-violet-dark-black);
	}

	h2 {
		color: var(--color-violet-lightest);
		border-color: var(--color-violet-light-white);
	}

	figcaption {
		border-color: var(--color-white);
	}
}