@import url('global/variables.css');
@import url('global/utilities.css');

body {
	background-color: var(--color-violet-lightest);
	font-family: var(--font-family);
}

main {
	height: 100vh;
	padding-top: 32px;
}

h1,
h2 {
	display: block;
	color: var(--color-violet-light);
	padding-left: 10px;
	width: 100%;
}

h1 {
	font-size: 2.3rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
	position: relative;
}

h1::before {
	position: absolute;
	content: '';
	display: inline-block;
	left: 0px;
	bottom: 50px;
	width: 60px;
	height: 60px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-image: url('../assets/icons/icon-dark.svg');
	border-radius: 50%;
	padding: 16px;
}

h2 {
	font-size: 1.3rem;
}

legend {
	display: none;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	background-color: var(--color-white);
	width: 90%;
	height: 90%;
	padding: 2rem;
	margin: auto;
	margin-top: 20px;
	border-radius: 10px;
	position: relative;
	align-content: flex-end;
	gap: 8px;
}

fieldset {
	background-color: transparent;
	border-color: transparent;
	width: 100%;
	position: relative;
	margin-top: 16px;
}

.input-container {
	width: 100%;
	margin-left: 0.8rem;
	position: relative;
	margin-bottom: 16px;
}

.input-container label {
	display: block;
	text-align: left;
	margin-bottom: 0.4rem;
	padding: 0.3rem 0;
	position: absolute;
	color: var(--color-violet-dark);
	font-size: 1rem;
	top: 10px;
	left: 10px;
	transition: 0.3s;
	border-radius: 20px;
}

.input-container input {
	width: 90%;
	height: 3rem;
}

.input-container input:focus ~ label,
.input-container input:valid ~ label,
.input-container input.has-value ~ label {
	background-color: var(--color-white);
	font-size: 0.85rem;
	transform: translateY(-16px);
	left: 2px;
	padding: 0 5px;
}

form fieldset a {
	position: absolute;
	bottom: -12px;
	right: 8%;
}

a {
	font-weight: bolder;
	text-decoration: none;
	color: var(--color-violet-dark);
	font-size: 0.9rem;
}

a:hover {
	color: var(--color-violet-dark-black);
	text-decoration: underline;
}

a:focus {
	text-decoration: underline;
}

.button-container {
	width: 95%;
	margin-top: 24px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-left: 8px;
	padding-right: 8px;
}

.button-container input[type='submit'] {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.button-container .spotify-button {
	margin-top: 8px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.link-container {
	padding: 16px;
	align-self: center;
}

@media (min-width: 1000px) {
	main {
		height: 100vh;
		padding-top: 72px;
	}

	header {
		width: 50%;
		align-self: flex-start;
		padding-left: 1.5rem;
	}

	form {
		width: 95%;
		margin-top: 0;
		height: 90%;
		padding-top: 48px;
		justify-content: center;
	}

	form::after {
		right: 0;
		top: 0;
		width: 45%;
		height: 100%;
		position: absolute;
		content: '';
		display: inline-block;
		background-image: url('https://i.pinimg.com/564x/c0/a6/8d/c0a68d8895db701afa779956585ed6c4.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		border-radius: 0 10px 10px 0;
	}

	fieldset {
		align-self: flex-start;
		width: 55%;
		padding-left: 0.8rem;
	}

	.input-container {
		width: 100%;
	}

	.input-container input {
		width: 90%;
		font-size: 1.1rem;
	}

	.input-container label {
		margin-bottom: 0.3rem;
	}

	.button-container {
		width: 55%;
		min-width: 480px;
		margin-left: 0;
		align-self: flex-start;
	}

	.link-container {
		align-self: flex-start;
		width: 55%;
		text-align: center;
	}
}

@media (min-width: 1300px) {
	main {
		height: 100vh;
		padding-top: 40px;
	}

	form {
		min-height: 650px;
		height: 85%;
	}

	h1::before {
		left: 0px;
	}

	.input-container {
		margin-left: 24px;
	}

	.input-container input:focus ~ label,
	.input-container input:valid ~ label,
	.input-container input.has-value ~ label {
		font-size: 0.9rem;
	}
}

@media (min-width: 1400px) {
	form {
		gap: 1.5rem;
		margin-top: 0;
		height: 95%;
		min-height: 95%;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: var(--color-violet-darkest);
	}

	h1::before {
		background-color: transparent;
	}

	form {
		background-color: var(--color-black);
		color: var(--color-violet-light-white);
	}

	form::after {
		background-image: url('https://i.pinimg.com/564x/54/29/d9/5429d95ae015fe24d8e30578c82ea7de.jpg');
	}

	.input-container label {
		color: var(--color-violet-light-white);
	}

	.input-container input:focus ~ label,
	.input-container input:valid ~ label,
	.input-container input.has-value ~ label {
		background-color: var(--color-black);
	}

	a {
		color: var(--color-violet-lightest);
	}

	a:hover {
		color: var(--color-violet-light-white);
	}

	h1,
	h2 {
		color: var(--color-violet-light-white);
	}
}

@media screen and (max-height: 700px) {
	main {
		height: 100%;
		padding-top: 0;
		margin-top: 0;
	}

	form {
		height: 100%;
		margin-top: 0;
		border-radius: 0;
	}
}
