@import url('global/variables.css');
@import url('global/main.css');
@import url('global/post.css');

.post {
	margin: auto;
	margin-top: 1rem;
	width: 90%;
}

#comment-form-container p {
	color: var(--color-grey-light);
}

#comment-form-container p a {
	text-decoration: none;
	color: var(--color-violet-light);
}

#comment-form-container {
	display: flex;
	margin: 1rem 0;
	justify-content: center;
	border-bottom: 1px solid var(--color-white);
}

#comment-form-container section {
	display: block;
}

#comment-form-container section img {
	margin-top: 2.1rem;
}

#comment-form-container form {
	flex: 1;
	margin: 0.5rem;
	/* max-width: 900px; */
}

#comment-form-container form textarea {
	width: 100%;
	margin: 0.5rem 0;
	padding: 8px;
	transition-duration: 200ms;
}

#comment-form-container form textarea:focus {
	height: 6rem;
}

#comment-form-container form input[type='submit'] {
	margin: 0.5rem auto;
	margin-right: 0;
	padding: 0 1rem;
}

.comments .post:last-child {
	border-bottom: 0;
}

.main-post figure {
	display: grid;
	grid-template-columns: 110px auto;
	grid-template-rows: 60px 110px auto;
}

.main-post .user-info {
	grid-row: 1/2;
	grid-column: 1/3;
}

@media (min-width: 900px) {
	.main-post figure {
		display: grid;
		grid-template-columns: 190px auto;
		grid-template-rows: 60px 180px auto;
	}

	.main-post .post-time {
		top: 72px;
	}

	/* #comment-form-container form textarea {
		width: 80%;
	}

	#comment-form-container form div {
		display: flex;
	}

	#comment-form-container form input[type="submit"] {
		flex: 1;
		margin-left: 10px;
	} */
}
