@import url('global/variables.css');
@import url('global/main.css');
@import url('global/post.css');
@import url('global/modal-access.css');
@import url('global/grid-section.css');

main {
	padding-bottom: 72px;
}

main header {
	padding: 12px;
}

header .user {
	height: 60px;
}

header section .biography {
	max-width: 600px;
	padding-top: 16px;
}

header section .nationality {
	padding-top: 16px;
	color: var(--color-grey-dark);
}

header .user img {
	height: 65px;
	width: 65px;
	border-radius: 100%;
	float: left;
}

header .user-actions {
	width: 100%;
	margin-top: 6px;
}

header .user-actions .action-button {
	height: 35px;
	width: 120px;
	line-height: 2;
	padding: 0;
	cursor: pointer;
	font-size: 0.9rem;
	font-weight: bolder;
	display: inline-block;
	position: relative;
}

header .user-actions a {
	display: inline-block;
	text-decoration: none;
	height: 35px;
	width: 110px;
	line-height: 2.5;
	font-size: 0.85rem;
	padding: 0;
}

header .user-actions .spotify-profile-button {
	display: inline-block;
	text-decoration: none;
	width: 120px;
	line-height: 2.5;
	font-size: 0.9rem;
	padding: 0;
	padding-right: 10px;
	height: 35px;
	margin-left: 2px;
	position: relative;
	border-color: transparent;
	background-color: var(--color-green-dark);
	color: black;
}

header .user-actions .spotify-profile-button span {
	display: inline-block;
	width: fit-content;
	text-align: center;
	position: relative;
	bottom: 12px;
	height: 100%;
	font-size: 0.85rem;
}

header .user-actions .spotify-profile-button img {
	width: 18px;
	height: 100%;
	margin-right: 2px;
}

header .user p.username-container {
	display: inline-block;
	margin-left: 12px;
}

header .user-actions p.profile-button-container {
	width: 100%;
	display: flex;
	align-items: center;
	gap: 6px;
}

header .user-stats {
	width: 100%;
	margin-top: 6px;
}

header .user-stats ul li {
	padding: 8px 0;
	display: inline-block;
	width: fit-content;
	margin-left: 6px;
	font-size: 0.9rem;
	color: var(--color-violet-darkest);
}

header .user-stats ul li:first-child {
	margin-left: 0px;
}

header .user-stats ul li a {
	text-decoration: none;
	color: inherit;
}

header .user-stats ul li span {
	font-weight: bold;
	display: inline-block;
	margin-right: 4px;
}

header .user p .name {
	font-size: 0.95rem;
	font-weight: bolder;
	position: relative;
	top: 14px;
}

header .user p .username {
	font-size: 0.9rem;
	display: block;
	color: var(--color-grey-dark);
	position: relative;
	top: 20px;
	right: 2px;
}

.recent-activity {
	width: 90%;
	margin: auto;
	margin-top: 16px;
}

section.section article figure section img {
	max-height: 220px;
	max-width: 220px;
}

section.recent-activity article:last-child {
	border-bottom: none;
}

.info-message {
	padding: 10px 8px;
	font-weight: 500;
	width: 100%;
	margin-top: 24px;
	border-radius: 5px;
	font-size: 0.85rem;
}

.info-message {
	color: var(--color-white);
	background-color: var(--color-violet-dark);
}

.feed article.post .article-img-container {
	height: 110px;
	width: 110px;
}

.feed article.post .article-img-container img {
	position: absolute;
	width: 100%;
	height: 100%;
}

@media (min-width: 400px) {
	main header {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		width: 90%;
		margin: auto;
		padding: 16px 24px;
	}

	main header .user {
		width: 65%;
		display: inline-block;
	}

	main header .user-stats {
		width: 35%;
		display: inline-block;
		text-align: right;
		margin: 0;
	}

	main header .user-stats ul {
		width: 100%;
		position: relative;
		top: 10px;
	}

	main header .user-stats ul li {
		display: block;
		width: 100%;
		text-align: right;
		margin: 0;
		padding: 2px 0;
	}

	main header .user-actions {
		width: 100%;
		margin-top: 24px;
	}

	main header .user-actions {
		position: relative;
	}
}

@media (min-width: 600px) {
	header .user-stats ul li {
		font-size: 1rem;
	}
}

@media (min-width: 900px) {
	.feed article.post figure .article-img-container {
		display: grid;
		border-radius: 10px;
		position: relative;
		grid-row: 2;
		height: 180px;
		width: 180px;
	}
}

@media (min-width: 1200px) {
	main header .user img {
		height: 90px;
		width: 90px;
	}

	main header .user p .name {
		font-size: 1.2rem;
		top: 24px;
	}

	main header .user p .username {
		font-size: 1rem;
		top: 28px;
	}

	main header .user-actions {
		margin-top: 40px;
	}

	main header .user-stats ul li {
		font-size: 1.1rem;
	}
}

@media (prefers-color-scheme: dark) {
	main header .user p .username {
		color: var(--color-grey-very-light);
	}

	header section .nationality {
		color: var(--color-grey-very-light);
	}

	main header .user-stats ul li {
		color: var(--color-white);
	}

	.info-message {
		color: var(--color-white);
		background-color: var(--color-violet);
	}
}
