@import url('global/variables.css');
@import url('global/main.css');
@import url('global/grid-section.css');
@import url('global/modal-access.css');


body {
	font-family: var(--font-family);
}

main {
	padding: 1rem 0;
}

main header {
	width: 90%;
	margin: auto;
}

header p {
	margin: 8px 0;
	margin-bottom: 16px;
}

header p input[type='radio'] {
	accent-color: var(--color-violet);
	margin-left: 1rem;
}

header p input[type='radio']:first-child {
	margin-left: 0;
}

header form {
	margin: 12px 0;
}

header form label {
	display: block;
	width: fit-content;
	margin-bottom: 8px;
}

header form input[type='search'] {
	height: 2.3rem;
	width: 100%;
	max-width: 400px;
}

header p label {
	margin-left: 0.1rem;
	color: var(--color-grey-dark);
}

header form div {
	margin-top: 0.5rem;
}

header form div button {
	background-color: var(--color-violet);
	color: var(--color-grey-very-light);
	border: none;
	border-radius: 40px;
	padding: 0.6rem 0.8rem;
	margin-right: 6px;
}

header form div button:hover {
	cursor: pointer;
	filter: brightness(85%);
}


@media (prefers-color-scheme: dark) {
	body {
		background-color: var(--color-violet-dark-black);
	}

	header p label {
		color: var(--color-grey-very-light);
	}

	header form label {
		color: var(--color-grey-very-light);
	}

	header p input[type='radio'] {
		background-color: var(--color-white);
		accent-color: var(--color-violet-lightest);
	}

}