{% extends 'base.twig' %}

{% block main %}
    <h2 class="section-title">
        Actualizar contraseña
    </h2>
    {% if message|length > 0 %}
                <p class="error-message">{{ message }}</p>
    {% endif %}
    <form action="/user/edit-password" method="POST">
        <fieldset>
            <p class="input-container">
                <label for="old-password" class="label">Contraseña anterior</label>
                <input class="input" name="old-password" id="old-password" type="password" required />
            </p>
            <p class="input-container">
                <label for="new-password" class="label">Nueva contraseña</label>
                <input class="input" name="new-password" id="new-password" type="password" required />
            </p>
            <p class="input-container">
                <label for="new-password-confirmation" class="label">Confirmación contraseña</label>
                <input class="input" name="new-password-confirmation" id="new-password-confirmation" type="password" required />
            </p>
            <p class="button-container">
                <input class="submit-button" type="submit" value="Confirmar" />
                <a class="submit-outline-button" href="/">Cancelar</a>
            </p>
        </fieldset>
    </form>
{% endblock %}
