{% extends 'base.twig' %}

{% block main %}
        <h2>Siguiendo</h2>
        <section class="users">
            <article class="user">
                <img loading="lazy" height="70px" width="70px"
                    src="https://i.pinimg.com/236x/94/7f/14/947f14841d26f5dc3541366a987b32f5.jpg"
                    alt="Imagen de perfil de 'Usuario 1'" />
                <a href="profile.html">Usuario 1 <span>@username1</span></a>
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing
                    elit. Aenean commodo ligula eget dolor. Aenean massa.
                    Cum sociis nat
                </p>
                <button class="action-button submit-outline-button">
                    Siguiendo
                </button>
            </article>
            <article class="user">
                <img loading="lazy" height="70px" width="70px"
                    src="https://i.pinimg.com/236x/2d/92/d0/2d92d085613a400e12fbadacc019e0e2.jpg"
                    alt="Imagen de perfil de 'Usuario 2'" />
                <a href="profile.html">Usuario 2 <span>@username2</span></a>
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing
                    elit. Aenean commodo ligula eget dolor. Aenean massa.
                    Cum sociis nat
                </p>
                <button class="action-button submit-outline-button">
                    Siguiendo
                </button>
            </article>
            <article class="user">
                <img loading="lazy" height="70px" width="70px"
                    src="https://i.pinimg.com/564x/92/94/73/92947360e1b0f2b1a8bd1352c26dd97c.jpg"
                    alt="Imagen de perfil de 'Usuario 3'" />
                <a href="profile.html">Usuario 3 <span>@username3</span></a>
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing
                    elit. Aenean commodo ligula eget dolor. Aenean massa.
                    Cum sociis nat
                </p>
                <button class="action-button submit-outline-button">
                    Siguiendo
                </button>
            </article>
            <article class="user">
                <img loading="lazy" height="70px" width="70px"
                    src="https://i.pinimg.com/564x/59/82/7d/59827d6ae38ba9e8e34ee89d59679611.jpg"
                    alt="Imagen de perfil de 'Usuario 4'" />
                <a href="profile.html">Usuario 4 <span>@username4</span></a>
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing
                    elit. Aenean commodo ligula eget dolor. Aenean m
                </p>
                <button class="action-button submit-outline-button">
                    Siguiendo
                </button>
            </article>
            <article class="user">
                <img loading="lazy" height="70px" width="70px"
                    src="https://i.pinimg.com/564x/68/23/25/6823252cc7346252874a7187de3e39ac.jpg"
                    alt="Imagen de perfil de 'Usuario 5'" />
                <a href="profile.html">Usuario 5 <span>@username5</span></a>
                <p>Lorem ipsum dolo</p>
                <button class="action-button submit-outline-button">
                    Siguiendo
                </button>
            </article>
            <article class="user">
                <img loading="lazy" height="70px" width="70px"
                    src="https://i.pinimg.com/564x/e3/2a/f5/e32af5f3863c9d2b161e9ba2d5ce06fd.jpg"
                    alt="Imagen de perfil de 'Usuario 6'" />
                <a href="profile.html">Usuario 6 <span>@username6</span></a>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscin</p>
                <button class="action-button submit-outline-button">
                    Siguiendo
                </button>
            </article>
        </section>
{% endblock %}