{% extends 'base.twig' %}

{% block main %}
    <main>
        <form action="/login" method="POST">
            <header>
                <h1>Bienvenido</h1>
                <h2>Por favor, ingresa tus credenciales</h2>
            </header>
            <fieldset>
                {% if message|length > 0 %}
                    <p class="{{ error ? 'error-message' : 'info-message' }}">{{ message }}</p>
                {% endif %}
                <legend>Información de inicio de sesión</legend>
                <p class="input-container">
                    <input name="email" id="email" type="email" autocomplete="off" placeholder=" " required
                        class="input" aria-labelledby="email-label" value="{{ email | default('') }}"/>
                    <label for="email" id="email-label">Correo electrónico</label>
                </p>
                <p class="input-container">
                    <input id="password" name="password" type="password" required class="input"
                        aria-labelledby="password-label" />
                    <label for="password" id="password-label">Contraseña</label>
                </p>
                <a href="#">Recuperar contraseña</a>
            </fieldset>
            <p class="button-container">
                <input type="submit" class="submit-button" value="Iniciar sesión" />
            </p>
            <p class="link-container">
                ¿No tienes cuenta?
                <a href="/register">Regístrate aquí</a>
            </p>
        </form>
    </main>
{% endblock %}
