{% extends 'base.twig' %}

{% block main %}
    {% if confirmation %}
        <h2 class="section-title">
            Actualizar contraseña
            <button class="show-password">
                <i class="ph ph-eye-closed icon-lg password-icon"></i>
            </button>
        </h2>
    {% else %}
        <h2 class="section-title">
            Enviar correo de confirmación
        </h2>
    {% endif %}

    {% if message|length > 0 %}
        <p class="{{ error ? 'error-message' : 'info-message' }}">
            {{ message }}
            {% if confirmation and not error > 0 %}
                <a href="/login" class="login-link">Iniciar sesión.</a>
            {% endif %}

        </p>
    {% endif %}

    {% if confirmation %}
        <form action="/new-password" method="POST">
            <fieldset>
                <p class="input-container">
                    <label for="new-password" class="label">Nueva contraseña</label>
                    <input class="input" name="new-password" id="new-password" type="password" required />
                </p>
                <p class="input-container">
                    <label for="new-password-confirmation" class="label">Confirmación contraseña</label>
                    <input class="input" name="new-password-confirmation" id="new-password-confirmation" type="password" required />
                </p>
                <p class="button-container">
                    <a class="submit-outline-button" href="/">Cancelar</a>
                    <input class="submit-button" type="submit" value="Confirmar" />
                </p>
            </fieldset>
        </form>
    {% else %}
        <form action="/password-recovery" method="POST">
            <fieldset>
                <p class="input-container">
                    <label for="confirmation-email" class="label">Ingrese el correo electrónico asociado a su cuenta</label>
                    <input class="input" name="confirmation-email" id="confirmation-email" type="email" required autocomplete="off"/>
                </p>
                <p class="button-container">
                    <a class="submit-outline-button" href="/">Cancelar</a>
                    <input class="submit-button" type="submit" value="Confirmar" />
                </p>
            </fieldset>
        </form>
    {% endif %}
{% endblock %}
