{% extends 'base.twig' %}

{% block main %}
    <header>
        <h2>Términos y Condiciones</h2>
        <p>¡Bienvenido a Songhub!</p>

        <p>
            Estos términos y condiciones describen las reglas y regulaciones para el uso del sitio web de Songhub.
        </p>

        <p>
            Al acceder a este sitio web, asumimos que aceptas estos términos y condiciones. No continúes usando Songhub si no estás de acuerdo con todos los términos y condiciones establecidos en esta página.
        </p>
    </header>
    <section>
        <h3 class="section-title">Terminología</h3>

        <p>
            La siguiente terminología se aplica a estos Términos y Condiciones, Declaración de Privacidad y Aviso de Exención de Responsabilidad, y a todos los Acuerdos: "Cliente", "Tú" y "Tu" se refiere a ti, la persona que accede a este sitio web y cumple con los términos y condiciones de la Empresa. "La Empresa", "Nosotros", "Nuestro" y "Nos", se refiere a nuestra Empresa. "Parte", "Partes" o "Nosotros", se refiere tanto al Cliente como a nosotros mismos. Todos los términos se refieren a la oferta, aceptación y consideración de pago necesario para llevar a cabo el proceso de nuestra asistencia al Cliente de la manera más apropiada con el propósito expreso de satisfacer las necesidades del Cliente en relación con la provisión de los servicios declarados de la Empresa, de acuerdo con y sujeto a la ley vigente de ar. Cualquier uso de la terminología anterior u otras palabras en singular, plural, capitalización y/o él/ella o ellos, se consideran intercambiables y, por lo tanto, como referenciando a lo mismo.
        </p>
    </section>
    <section>
        <h3 class="section-title">Cookies</h3>
        <p>
            Empleamos el uso de cookies. Al acceder a Songhub, aceptaste usar cookies de acuerdo con la Política de Privacidad de Songhub.
        </p>
        <p>
            La mayoría de los sitios web interactivos usan cookies para permitirnos recuperar los detalles del usuario para cada visita. Las cookies son utilizadas por nuestro sitio web para habilitar la funcionalidad de ciertas áreas y facilitar la visita de las personas a nuestro sitio web. Algunos de nuestros socios afiliados/anunciantes también pueden usar cookies.
        </p>
    </section>
    <section>
        <h3 class="section-title">Licencia</h3>
        <p>
            A menos que se indique lo contrario, Songhub y/o sus licenciantes poseen los derechos de propiedad intelectual de todo el material en Songhub. Todos los derechos de propiedad intelectual están reservados. Puedes acceder a esto desde Songhub para tu uso personal sujeto a las restricciones establecidas en estos términos y condiciones.
        </p>
        <p>No debes:</p>

        <ul>
            <li>Republicar material de Songhub</li>
            <li>Vender, alquilar o sublicenciar material de Songhub</li>
            <li>Reproducir, duplicar o copiar material de Songhub</li>
            <li>Redistribuir contenido de Songhub</li>
        </ul>

        <p>
            Este Acuerdo comenzará en la fecha de hoy. Nuestros Términos y Condiciones fueron creados con la ayuda del Generador de Términos y Condiciones Gratis.
        </p>
    </section>
    <section>
        <h3 class="section-title">Comentarios</h3>

        <p>
            Partes de este sitio web ofrecen a los usuarios la oportunidad de publicar e intercambiar opiniones e información en ciertas áreas del sitio web. Songhub no filtra, edita, publica ni revisa los Comentarios antes de su presencia en el sitio web. Los Comentarios no reflejan los puntos de vista y opiniones de Songhub, sus agentes y/o afiliados. Los Comentarios reflejan los puntos de vista y opiniones de la persona que publica sus puntos de vista y opiniones. En la medida en que lo permitan las leyes aplicables, Songhub no será responsable de los Comentarios ni de ninguna responsabilidad, daños o gastos causados y/o sufridos como resultado de cualquier uso y/o publicación y/o aparición de los Comentarios en este sitio web.
        </p>

        <p>
            Songhub se reserva el derecho de monitorear todos los Comentarios y de eliminar cualquier Comentario que pueda considerarse inapropiado, ofensivo o que cause incumplimiento de estos Términos y Condiciones.
        </p>

        <p>Garantizas y representas que:</p>

        <ul>
            <li>
                Tienes derecho a publicar los Comentarios en nuestro sitio web y tienes todas las licencias y consentimientos necesarios para hacerlo;
            </li>
            <li>
                Los Comentarios no invaden ningún derecho de propiedad intelectual, incluidos, sin limitación, los derechos de autor, patente o marca comercial de terceros;
            </li>
            <li>
                Los Comentarios no contienen ningún material difamatorio, calumnioso, ofensivo, indecente o ilegal que sea una invasión de la privacidad;
            </li>
            <li>
                Los Comentarios no se utilizarán para solicitar o promover negocios o costumbres o presentar actividades comerciales o actividades ilegales.
            </li>
        </ul>

        <p>
            Por la presente, otorgas a Songhub una licencia no exclusiva para usar, reproducir, editar y autorizar a otros a usar, reproducir y editar cualquiera de tus Comentarios en todas y cada una de las formas, formatos o medios.
        </p>
    </section>
    <section>
        <h3 class="section-title">Hipervínculos a nuestro Contenido</h3>
        <p>
            Las siguientes organizaciones pueden enlazar a nuestro sitio web sin aprobación previa por escrito:
        </p>
        <ul>
            <li>Agencias gubernamentales;</li>
            <li>Motores de búsqueda;</li>
            <li>Organizaciones de noticias;</li>
            <li>
                Los distribuidores de directorios en línea pueden enlazar a nuestro sitio web de la misma manera que enlazan a los sitios web de otras empresas listadas; y
            </li>
            <li>
                Empresas acreditadas en todo el sistema, excepto organizaciones sin fines de lucro que soliciten, centros comerciales de caridad y grupos de recaudación de fondos de caridad que no pueden enlazar a nuestro sitio web.
            </li>
        </ul>
        <p>
            Estas organizaciones pueden enlazar a nuestra página de inicio, a publicaciones o a otra información del sitio web siempre que el enlace: (a) no sea engañoso de ninguna manera; (b) no implique falsamente patrocinio, respaldo o aprobación de la parte vinculante y sus productos y/o servicios; y (c) encaje dentro del contexto del sitio de la parte vinculante.
        </p>
        <p>
            Podemos considerar y aprobar otras solicitudes de enlace de los siguientes tipos de organizaciones:
        </p>
        <ul>
            <li>
                fuentes de información de consumidores y/o negocios comúnmente conocidas;
            </li>
            <li>sitios de la comunidad dot.com;</li>
            <li>
                asociaciones u otros grupos que representen organizaciones benéficas;
            </li>
            <li>distribuidores de directorios en línea;</li>
            <li>portales de internet;</li>
            <li>firmas de contabilidad, derecho y consultoría; y</li>
            <li>instituciones educativas y asociaciones comerciales.</li>
        </ul>
        <p>
            Aprobaremos las solicitudes de enlace de estas organizaciones si decidimos que: (a) el enlace no nos haría ver desfavorablemente a nosotros mismos o a nuestras empresas acreditadas; (b) la organización no tiene registros negativos con nosotros; (c) el beneficio para nosotros de la visibilidad del hipervínculo compensa la ausencia de Songhub; y (d) el enlace está en el contexto de información de recursos generales.
        </p>
        <p>
            Estas organizaciones pueden enlazar a nuestra página de inicio siempre que el enlace: (a) no sea engañoso de ninguna manera; (b) no implique falsamente patrocinio, respaldo o aprobación de la parte vinculante y sus productos o servicios; y (c) encaje dentro del contexto del sitio de la parte vinculante.
        </p>
        <p>
            Si eres una de las organizaciones enumeradas en el párrafo 2 anterior y estás interesada en enlazar a nuestro sitio web, debes informarnos enviando un correo electrónico a Songhub. Incluye tu nombre, el nombre de tu organización, información de contacto, así como la URL de tu sitio, una lista de cualquier URL desde la cual tienes la intención de enlazar a nuestro sitio web, y una lista de las URL en nuestro sitio a las que te gustaría enlazar. Espera 2-3 semanas para una respuesta.
        </p>
    </section>
    <section>
        <h3 class="section-title">iFrames</h3>
        <p>
            Sin aprobación previa y permiso por escrito, no puedes crear marcos alrededor de nuestras páginas web que alteren de ninguna manera la presentación visual o la apariencia de nuestro sitio web.
        </p>
    </section>
    <section>
        <h3 class="section-title">Responsabilidad del Contenido</h3>
        <p>
            No nos responsabilizaremos de ningún contenido que aparezca en tu sitio web. Aceptas protegernos y defendernos contra todas las reclamaciones que se eleven en tu sitio web. Ningún enlace(s) debe aparecer en ningún sitio web que pueda interpretarse como difamatorio, obsceno o criminal, o que infrinja, de otra manera viole, o promueva la infracción u otra violación de, cualquier derecho de terceros.
        </p>
    </section>
    <section>
        <h3 class="section-title">Reserva de Derechos</h3>
        <p>
            Nos reservamos el derecho de solicitar que elimines todos los enlaces o cualquier enlace particular a nuestro sitio web. Aceptas eliminar de inmediato todos los enlaces a nuestro sitio web a petición. También nos reservamos el derecho de amenazar estos términos y condiciones y su política de enlaces en cualquier momento. Al enlazar continuamente a nuestro sitio web, aceptas estar obligado y seguir estos términos y condiciones de enlace.
        </p>
        <p>
            No aseguramos que la información en este sitio web sea correcta, no garantizamos su integridad o precisión; ni prometemos asegurar que el sitio web permanezca disponible o que el material en el sitio web se mantenga actualizado.
        </p>
    </section>
{% endblock %}
