@import url('global/variables.css');
@import url('global/main.css');

main {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	padding-bottom: 70px;
}

form fieldset {
	max-width: 520px;
}

form fieldset legend {
	opacity: 0;
}

.profile-image-edit {
	width: 100%;
	height: 140px;
	margin-left: 6px;
	margin-top: 8px;
}

.profile-image-edit img {
	float: left;
	width: 120px;
	height: 120px;
	border-radius: 50%;
}

form fieldset .load-image,
form fieldset .remove-image {
	width: 140px;
	font-size: 0.8rem;
	display: block;
	position: relative;
	left: 20px;
	top: 20px;
}

form fieldset .load-image {
	margin-bottom: 8px;
}

form fieldset .input-container {
	width: 100%;
	margin-left: 6px;
	margin-bottom: 16px;
}

form fieldset .input-container input {
	width: 90%;
	max-width: 450px;
	min-width: 285px;
}

form fieldset .input-container label {
	display: block;
	padding: 8px 1px;
	font-weight: normal;
}

form fieldset .input-container textarea {
	width: 90%;
	max-width: 450px;
	min-width: 285px;
	height: 130px;
	padding-top: 10px;
	resize: none;
	padding-bottom: 10px;
}

.button-container {
	position: absolute;
	bottom: -10px;
	width: 100%;
	text-align: center;
}

button.submit-outline-button {
	width: 45%;
	display: inline-block;
	max-width: 200px;
	margin-right: 4px;
}

input[type='submit'].submit-button {
	width: 45%;
	min-width: 140px;
	display: inline-block;
	max-width: 200px;
}

section.edit-favourites {
	margin-top: 16px;
	width: 100%;
	padding: 0 8px;
}

section.edit-favourites h3.section-title {
	font-size: 1.2rem;
	margin-bottom: 4px;
	border-bottom: none;
}

section.edit-favourites section figure {
	display: inline-block;
	cursor: pointer;
	position: relative;
}

section.edit-favourites section figure img {
	width: 130px;
	height: 130px;
	border-radius: 10px;
}

section.edit-favourites section {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
}

.remove-favourite {
	filter: brightness(0.8);
	background-color: black;
}

.remove-favourite::after {
	content: '';
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	background-image: url('../../assets/icons/remove.svg');
	background-position: center;
	background-size: 40px;
	background-repeat: no-repeat;
}

@media (min-width: 420px) {
	.profile-image-edit {
		height: 170px;
	}

	.profile-image-edit img {
		width: 150px;
		height: 150px;
	}

	form fieldset .load-image,
	form fieldset .remove-image {
		width: 170px;
		top: 30px;
	}
}

@media (min-width: 550px) {
	form fieldset .input-container input,
	form fieldset .input-container textarea {
		width: 100%;
		max-width: initial;
	}
}

@media (min-width: 650px) {
	form fieldset .load-image,
	form fieldset .remove-image {
		width: 120px;
	}

	main {
		display: grid;
		grid-template-columns: 50% 50%;
		grid-template-rows: 4rem repeat(2, 1fr);
		padding-bottom: 60px;
	}

	main h2.section-title {
		grid-column: 1 /3;
		grid-row: 1/2;
	}

	main form {
		grid-row: 2/4;
		grid-column: 1/2;
		margin-top: 20px;
	}

	.button-container {
		bottom: 0px;
	}

	form fieldset .input-container input,
	form fieldset .input-container textarea {
		width: 90%;
		max-width: 450px;
	}

	main section.edit-favourites {
		grid-column: 2/3;
		grid-row: 3/4;
		display: flex;
		flex-direction: column;
		align-self: start;
	}

	main section.edit-favourites:first-of-type {
		grid-column: 2/3;
		grid-row: 2/3;
		align-self: end;
	}

	section.edit-favourites h3.section-title {
		height: 2rem;
		margin-bottom: 20px;
	}

	section.edit-favourites section {
		gap: 12px;
		display: grid;
		grid-template-columns: repeat(3, 90px);
		grid-auto-rows: 90px;
	}

	section.edit-favourites section figure {
		height: 100%;
		width: 100%;
	}

	section.edit-favourites section figure img {
		width: 100%;
		height: 100%;
		border-radius: 10px;
	}

	button.submit-outline-button {
		max-width: 250px;
	}

	input[type='submit'].submit-button {
		max-width: 250px;
	}
}

@media (min-width: 800px) {
	section.edit-favourites section {
		grid-template-columns: repeat(3, 110px);
		grid-auto-rows: 110px;
	}

	button.submit-outline-button,
	input[type='submit'].submit-button {
		max-width: 250px;
	}
}

@media (min-width: 900px) {
	section.edit-favourites section {
		grid-template-columns: repeat(3, 120px);
		grid-auto-rows: 120px;
	}
}

@media (min-width: 1200px) {
	main section.edit-favourites {
		align-self: start;
		margin-top: 0;
	}

	main section.edit-favourites:first-of-type {
		align-self: center;
	}

	section.edit-favourites section {
		grid-template-columns: repeat(3, 140px);
		grid-auto-rows: 140px;
	}

	form fieldset .input-container input,
	form fieldset .input-container textarea {
		max-width: 500px;
		width: 100%;
	}
}

@media (min-width: 1500px) {
	main {
		grid-template-columns: 40% 60%;
	}

	section.edit-favourites section {
		grid-template-columns: repeat(4, 140px);
	}
}

@media (min-width: 1700px) {
	form fieldset {
		max-width: 600px;
	}

	form fieldset .input-container input,
	form fieldset .input-container textarea {
		width: 90%;
		max-width: 600px;
	}

	section.edit-favourites section {
		grid-template-columns: repeat(5, 170px);
		grid-auto-rows: 170px;
	}
}
