@import url('global/variables.css');
@import url('global/main.css');

html {
	overflow-y: hidden;
}

main {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 16px;
	min-height: calc(100% - 186px);
	overflow: hidden;
	overflow-y: hidden;
	position: relative;
}

main h2 {
	font-size: 2.2rem;
	color: var(--color-violet-dark);
}

main h3 {
	color: var(--color-violet);
	font-size: 1.8rem;
}

main h4 {
	font-size: 1.4rem;
	font-weight: normal;
	margin-bottom: 16px;
}

main a {
	line-height: 2.2rem;
	font-size: 1.2rem;
	display: block;
	text-decoration: none;
	font-weight: bold;
	color: var(--color-black);
	position: absolute;
	left: 0px;
	top: 40px;
}

main a:hover {
	transform: translateX(-5px);
	text-decoration: underline;
	text-underline-offset: 4px;
	transition: transform 0.3s ease;
}

.icon.back-icon {
	position: relative;
	top: 4px;
	right: 4px;
}

main img {
	width: 75%;
	height: 35%;
	max-width: 500px;
	max-height: 400px;
}

@media (min-width: 900px) {
	main h2 {
		font-size: 3.3rem;
		color: var(--color-violet-dark);
	}

	main h3 {
		font-size: 2.5rem;
		color: var(--color-violet);
	}

	main h4 {
		font-size: 1.8rem;
		font-weight: normal;
	}
}

@media (prefers-color-scheme: dark) {
	main h2 {
		color: var(--color-violet-lightest);
	}

	main h3 {
		color: var(--color-violet-light-white);
	}

	main a {
		color: var(--color-white);
	}
}
