@import url('global/variables.css');
@import url('global/header.css');
@import url('global/footer.css');

body {
	font-family: var(--font-family);
}

main {
	padding: 1rem 0;
}

h2 {
	color: var(--color-violet-light);
	font-size: 1.4rem;
	padding: 1rem 0 0.5rem 0;
	font-weight: bold;
	display: inline-block;
	width: 100%;
	text-align: center;
	margin: auto;
	border-bottom: 1px solid var(--color-violet-light);
}

main section {
	margin: auto;
	width: 85%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 0.7rem;
	padding-bottom: 1.5rem;
	padding-top: 0.5rem;
}

article {
	width: 48%;
	margin: auto;
	margin-top: 0.5rem;
}

figure img {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	overflow: hidden;
	border: 1px solid var(--color-violet-dark);
}

figcaption {
	width: 100%;
	margin-left: 0.05rem;
	padding-left: 0.3rem;
	margin-top: 0.3rem;
	border-left: 2px solid var(--color-violet-dark);
}

figcaption h3 {
	color: var(--color-violet-dark);
	font-weight: bold;
}

figcaption p {
	margin-top: 5px;
	font-weight: b;
}

@media (min-width: 700px) {
	article {
		width: 30%;
	}
}

@media (min-width: 1200px) {
	article {
		width: 25%;
	}
}

@media (min-width: 1400px) {
	article {
		width: 15%;
	}
	main {
		min-height: 78vh;
	}
}

@media (prefers-color-scheme: dark) {
	main {
		background-color: var(--color-violet-dark-black);
	}
	h2 {
		color: var(--color-violet-lightest);
		border-color: var(--color-violet-light-white);
	}

	figcaption {
		border-color: var(--color-white);
	}
	figcaption h3 {
		color: var(--color-violet-lightest);
	}
	figcaption p {
		color: var(--color-white);
	}

	figure img {
		border-color: var(--color-violet-lightest);
	}
}
