@import url('global/variables.css');
@import url('global/main.css');

main {
	font-family: var(--font-family);
	padding-bottom: 20px;
}

.users {
	margin: auto;
}

h2 {
	color: var(--color-violet-dark);
	font-size: 1.6rem;
	font-weight: bold;
	padding: 16px 0px;
	margin: 0 12px;
	padding-bottom: 8px;
}

.user {
	padding: 0px 16px;
	margin: 24px 0;
	height: 95px;
	position: relative;
}

.user:nth-of-type(1) {
	border-top: none;
}

.user a {
	text-decoration: none;
	padding-left: 48px;
	font-weight: bold;
	display: block;
	padding-top: 4px;
}

.user a span {
	font-size: 0.85rem;
	color: var(--color-grey-dark);
	display: block;
	font-weight: normal;
	padding-top: 2px;
	width: fit-content;
}

.user .action-button {
	position: absolute;
	right: 40px;
	height: 30px;
	width: 100px;
	top: 4px;
	padding: 0;
	line-height: 2.5;
	cursor: pointer;
	font-size: 0.75rem;
	font-weight: bolder;
}

.user img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	position: absolute;
	left: 16px;
	top: 0px;
}

.user p {
	padding: 12px 0px;
	padding-bottom: 8px;
	line-height: 1.3;
	font-size: 0.9rem;
}

@media screen and (min-width: 800px) {
	h2 {
		display: block;
		width: 80%;
		margin: auto;
		text-align: left;
	}

	.users {
		width: 80%;
		border: 1px solid var(--color-violet-dark);
		border-top: none;
		border-bottom: none;
	}

	.user {
		border-bottom: none;
		padding: 0px 16px;
		border-top: none;
		margin: 16px 0;
	}

	.user p {
		max-width: 600px;
	}
}

@media screen and (min-width: 1200px) {
	h2 {
		width: 70%;
		font-size: 2rem;
	}

	.users {
		width: 70%;
	}

	.user p {
		font-size: 1rem;
	}
}

@media screen and (min-width: 1400px) {
	h2 {
		font-size: 2.3rem;
	}

	.user span {
		font-size: 1.1rem;
	}

	.user p {
		font-size: 1.1rem;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: var(--color-violet-dark-black);
		color: var(--color-white);
	}

	h2 {
		color: var(--color-white);
	}

	.users {
		border-color: var(--color-grey-very-light);
	}

	.user {
		border-color: var(--color-white);
	}

	.user a:first-child {
		color: var(--color-violet-lightest);
	}

	.user a span {
		color: var(--color-grey-very-light);
	}
}
