@import url('global/variables.css');
@import url('global/main.css');
@import url('global/titles.css');

main {
	font-family: var(--font-family);
}

.carousel {
	overflow: hidden;
	text-align: center;
	background-color: var(--color-violet-dark-black);
}

.carousel figure {
	position: relative;
	height: 100%;
}

.carousel img {
	width: 100%;
	height: 100%;
}

.carousel figcaption {
	position: absolute;
	bottom: 30px;
	font-size: 1.6rem;
	left: 20px;
	font-weight: bold;
	text-align: left;
	filter: drop-shadow(2px 2px 2px var(--color-black));
	color: var(--color-white);
}

.carousel figcaption p {
	margin-bottom: 0.1rem;
}

.feed {
	width: 90%;
	margin: auto;
}

.post {
	margin-bottom: 1.5rem;
	cursor: pointer;
	margin-top: 1rem;
	width: 100%;
	min-height: 135px;
	position: relative;
}

.post figure {
	min-height: 130px;
	height: 100%;
	display: block;
	position: relative;
}

.post figcaption {
	display: inline-block;
	position: absolute;
	width: 65%;
	bottom: 15px;
	left: 130px;
}

.post figcaption h3 {
	font-weight: bold;
	width: 100%;
	font-size: 1rem;
	margin-bottom: 0.4rem;
}

.post figcaption p:first-child {
	font-size: 0.8rem;
	margin-bottom: 0.4rem;
	color: var(--color-grey-dark);
}

.post figcaption p {
	margin-top: 0rem;
	margin-bottom: 0rem;
}

.post figcaption a {
	display: none;
}

.post-img {
	display: inline-block;
	height: 120px;
	width: 120px;
	margin-right: 1rem;
	border-radius: 10px;
}

.user-info {
	display: inline-block;
	width: 60%;
	position: absolute;
	left: 130px;
	top: 0;
}

.user-img {
	height: 25px;
	width: 25px;
	border-radius: 50%;
	display: inline;
	float: left;
}

.user-name {
	font-size: 0.8rem;
	display: inline-block;
	height: 100%;
	padding: 0 0.3rem;
	margin-top: 5px;
}

.user-name a {
	text-decoration: none;
	color: var(--color-violet);
	font-weight: bold;
	font-size: 0.9rem;
}

.user-name span {
	font-size: 0.9rem;
	vertical-align: text-top;
	color: var(--color-grey-dark);
}

.stars {
	display: inline-block;
	color: var(--color-violet-light);
}

@media (min-width: 700px) {
	.carousel {
		max-height: 70vh;
	}

	.carousel img {
		width: 50%;
	}
}


@media (min-width: 1000px) {
	.carousel {
		max-height: 70vh;
	}

	.carousel figcaption {
		position: absolute;
		top: 50px;
		left: 50px;
	}

	.post {
		margin-bottom: 4rem;
		margin-bottom: 20px;
	}

	.post-img {
		height: 200px;
		width: 200px;
	}

	.user-name a {
		font-size: 1rem;
		margin-right: 4px;
	}

	.user-info {
		left: 225px;
	}

	.user-img {
		height: 35px;
		width: 35px;
	}

	.post figcaption {
		left: 225px;
		height: 150px;
		bottom: 0px;
	}

	.post figcaption h3 {
		margin-top: 20px;
		font-size: 1.3rem;
	}

	.post figcaption p:first-child {
		font-size: 1rem;
		margin-top: 5px;
		margin-bottom: 10px;
	}

	.post figcaption p {
		font-size: 1.1rem;
		margin-top: 10px;
		margin-bottom: 0px;
	}

	.post figcaption p.stars {
		margin-top: 10px;
		font-size: 1.6rem;
	}

	.post figcaption a {
		display: block;
		width: 40%;
		height: 2rem;
		padding: 0.2rem;
	}

	.post figcaption a button {
		background-color: var(--color-violet-dark);
		padding: 0.6rem 1rem;
		border: none;
		outline: none;
		font-weight: bold;
		border-radius: 10px;
		color: var(--color-white);
	}
}

@media (min-width: 1300px) {
	.feed {
		width: 100%;
	}
}

@media (prefers-color-scheme: dark) {
	.carousel {
		background-color: var(--color-black);
	}

	body {
		background-color: var(--color-violet-dark-black);
		color: var(--color-white);
	}

	.user-name a {
		color: var(--color-violet-lightest);
	}

	.user-name span {
		color: var(--color-grey-very-light);
	}

	.stars {
		color: var(--color-violet-lightest);
	}

	.post figcaption p:first-child {
		color: var(--color-grey-very-light);
	}

	.post figcaption a button {
		background-color: var(--color-white);
		color: var(--color-violet-dark);
	}

	.post {
		margin-top: 1.5rem;
	}
}