@import url('global/variables.css');
@import url('global/main.css');

main {
	font-family: var(--font-family);
}

.cards-container {
	margin-top: 20px;
	overflow: hidden;
	border-radius: 15px;
	width: 90%;
	height: 100%;
	flex-direction: row;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	background-color: var(--color-violet-dark-black);
}

.cards-container figure {
	position: relative;
	height: 100%;
	margin: auto;
}

.cards-container figure img {
	object-fit: cover;
	object-position: center;
	cursor: pointer;
	display: none;
	height: 400px;
	border-radius: 15px;
}

.cards-container figcaption {
	width: 0;
	height: 0;
	opacity: 0;
}

.cards-container figcaption p {
	margin-bottom: 0.1rem;
}

.feed {
	width: 90%;
	margin: auto;
}

.post {
	margin-bottom: 1.5rem;
	cursor: pointer;
	margin-top: 1rem;
	width: 100%;
	min-height: 135px;
	position: relative;
	border-bottom: 1px solid var(--color-grey-very-light);
}

.post figure {
	min-height: 130px;
	height: 100%;
	display: grid;
	grid-template-columns: 110px auto;
}

.post-img {
	display: inline-block;
	height: 100px;
	width: 100px;
	border-radius: 10px;
	grid-row: span 3;
}

.user-info {
	display: grid;
	grid-template-columns: 40px 120px auto;
}

.post-time {
	margin: 0 0 auto auto;
	color: var(--color-grey-light);
	font-size: 14px;
}

.user-img {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	margin: 0 auto;
}

.user-name a {
	text-decoration: none;
	color: var(--color-violet-darkest);
	font-weight: bold;
	font-size: 0.9rem;
}

.user-name span {
	font-size: 0.8rem;
	color: var(--color-grey-dark);
}

.post figcaption {
	margin-left: 0.5rem;
}

.post figcaption a {
	display: none;
	text-decoration: none;
	font-size: smaller;
	color: var(--color-grey-dark);
	background-color: var(--color-grey-very-light);
	padding: 4px 8px;
	border-radius: 20px;
	margin: 0.8rem 0 0 0;
}

.post figcaption a:hover {
	opacity: 80%;
}

.stars {
	padding: 4px 0;
	color: var(--color-violet-light);
}

.post .post-content {
	margin-bottom: 1rem;
}

.post .post-content p {
	max-height: 4rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.post .post-content p::after {
	/*content: '...';
	position: absolute;
	top: 18rem;
	right: 0;
	background-color: white;*/
}

.post footer {
	text-align: end;
	margin-bottom: 1rem;
}

.post footer img,
.post footer section {
	display: inline-block;
	margin: 0 0.4rem;
}

.post footer section img,
.post footer section p {
	display: inline;
	margin: 0;
}

@media (min-width: 700px) {
	.cards-container {
		gap: 4px;
		max-height: 70vh;
	}

	.cards-container figure img {
		width: 120px;
		transition: all 250ms ease-in-out;
	}
}

@media (min-width: 850px) {
	.cards-container figure img {
		width: 150px;
	}
}

@media (min-width: 1000px) {
	.cards-container figure img {
		width: 150px;
	}

	.post {
		margin-bottom: 4rem;
		margin-bottom: 20px;
	}

	.post figure {
		grid-template-columns: 190px auto;
		row-gap: 0.8rem;
	}

	.post-img {
		height: 180px;
		width: 180px;
		grid-row: 2;
	}

	.user-info {
		grid-template-columns: 50px auto auto;
		grid-column: span 3;
	}

	.user-name {
		margin: auto 0;
	}

	.user-name a {
		font-size: 1rem;
	}

	.user-img {
		height: 30px;
		width: 30px;
	}

	.post-time {
		margin: auto 0 auto auto;
	}

	.post figcaption {
		grid-row: 2;
	}

	.post figcaption p.stars {
		margin-top: 10px;
		font-size: 1.6rem;
	}

	.post figcaption a {
		display: inline-block;
	}

	.post figcaption a button {
		background-color: var(--color-violet-dark);
		padding: 0.6rem 1rem;
		border: none;
		outline: none;
		font-weight: bold;
		border-radius: 10px;
		color: var(--color-white);
	}

	.stars {
		padding: 0;
	}

	.post .post-content {
		margin: 1rem 0;
	}
}

@media (min-width: 1300px) {
	.cards-container {
		height: 70vh;
		min-height: 500px;
		max-height: 500px;
		width: 100%;
		gap: 8px;
	}

	.cards-container figure img {
		width: 180px;
		height: 500px;
	}

	.feed {
		width: 100%;
	}
}

@media (prefers-color-scheme: dark) {
	.cards-container {
		background-color: var(--color-black);
	}

	body {
		background-color: var(--color-violet-dark-black);
		color: var(--color-white);
	}

	.user-name a {
		color: var(--color-violet-lightest);
	}

	.user-name span {
		color: var(--color-grey-very-light);
	}

	.stars {
		color: var(--color-violet-lightest);
	}

	.post figcaption a {
		background-color: var(--color-white);
	}

	.post figcaption a button {
		background-color: var(--color-white);
		color: var(--color-violet-dark);
	}

	.post {
		margin-top: 1.5rem;
	}
}
