@import url('global/variables.css');
@import url('global/main.css');
@import url('global/post.css');

.post {
	margin: auto;
	margin-top: 1rem;
	width: 90%;
}

.comments .post:last-child {
	border-bottom: 0;
}
