.icon {
	font-size: 20px;
}

.share-icon,
.close-icon,
.play-icon {
	color: var(--color-violet-darkest);
}

.more-icon {
	font-size: 14px;
	color: var(--color-white);
}

.close-icon {
	font-size: 16px;
}

.logout-icon {
	font-size: 24px;
}

.post-icon,
.song-icon {
	color: var(--color-white);
}

.open-menu-icon {
	font-size: 32px;
	min-height: 20px;
	min-width: 20px;
	color: var(--color-white);
}

.close-menu-icon {
	min-height: 20px;
	min-width: 20px;
	font-size: 22px;
}

.open-menu-icon,
.close-menu-icon {
	color: var(--color-white);
	background: transparent;
	z-index: 100;
	position: relative;
}

.open-menu-icon::before,
.close-menu-icon::before {
	position: relative;
	z-index: -1;
}

.heart-icon.active {
	color: var(--color-red);
}

.spotify-icon {
	color: var(--color-green-dark);
}

.share-icon:hover,
.play-icon:hover {
	filter: brightness(0.8);
}

.heart-icon:hover {
	color: var(--color-red);
}

.back-icon {
	color: var(--color-black);
}

.add-favorite-icon {
	color: var(--color-violet-dark);
	font-size: 3rem;
}

@media (min-width: 1000px) {
	.add-favorite-icon {
		font-size: 4rem;
	}
}

@media (prefers-color-scheme: dark) {
	.share-icon,
	.play-icon,
	.close-icon,
	.heart-icon,
	.comment-icon,
	.back-icon,
	.add-favorite-icon {
		color: var(--color-white);
	}
}
