.article-img-container {
	display: grid;
	border-radius: 10px;
	position: relative;
	grid-row: span 3;
	width: 100px;
	height: 100px;
}

.article-img-container img {
	position: absolute;
	width: 100%;
	height: 100%;
	max-width: 200px;
	max-height: 200px;
}

.article-img-container:hover {
	cursor: pointer;
}

.article-img-container section {
	background-color: rgba(0, 0, 0, 0.85);
	z-index: 10;
	display: flex;
}

.article-img-container section button {
	background-size: cover;
	background-color: transparent;
}

.article-img-container .more-container {
	display: block;
	position: absolute;
	right: 4px;
	top: 0;
	border-radius: 5px;
	padding: 1px;
	margin: 6px auto auto 6px;
}

.article-img-container .more-container button {
	text-align: center;
	position: relative;
	right: 2px;
	transform: rotate(90deg);
}

.article-img-container .buttons-container {
	width: 110px;
	padding: 0 8px;
	height: 35px;
	margin: auto auto 6px auto;
	border-radius: 4px;
	bottom: 65px;
	right: 0px;
	position: relative;
	align-items: center;
	gap: 12px;
	justify-content: center;
}

.article-img-container section a {
	background-size: cover;
}

.article-img-container section button,
.article-img-container section a {
	margin: auto;
	width: 20px;
	height: 20px;
	border: none;
}

.article-img-container section button:hover,
.article-img-container section a:hover {
	cursor: pointer;
	opacity: 80%;
}

@media (min-width: 700px) {
	.article-img-container {
		width: 200px;
		height: 180px;
	}

	.article-img-container img {
		position: absolute;
	}
}

@media (min-width: 900px) {
	.article-img-container {
		grid-row: 2;
		position: initial;
	}

	.article-img-container .buttons-container {
		bottom: 55px;
	}
}

@media (min-width: 1000px) {
	.article-img-container,
	.article-img-container img {
		height: 180px;
		width: 180px;
		max-width: 180px;
		max-height: 180px;
	}

	.article-img-container .more-container {
		visibility: hidden;
	}
}
