article.post {
	margin-top: 1rem;
	padding: 2px;
	width: 100%;
	max-width: initial;
	border-bottom: 1px solid var(--color-grey-very-light);
}

.post figure {
	display: grid;
	grid-template-columns: 110px auto;
}

.user-info {
	display: flex;
	align-items: center;
	gap: 8px;
	margin-bottom: 8px;
}

.post-time {
	opacity: 0;
}

.user-img {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	margin-left: 8px;
}

.user-name {
	width: 80px;
}

.user-name a {
	text-decoration: none;
	color: var(--color-violet-darkest);
	font-weight: bold;
	font-size: 0.9rem;
}

.user-name a:hover {
	text-decoration: underline;
}

.user-name span {
	font-size: 0.8rem;
	color: var(--color-grey-dark);
}

.post figcaption {
	margin-left: 0.5rem;
}

.post figcaption .tag {
	display: none;
	margin: 0.8rem 0 0 0;
}

.post figcaption a:hover {
	opacity: 90%;
}

.stars {
	padding: 4px 0;
	color: var(--color-violet-light);
	font-size: 1.15rem;
}

.post a {
	text-decoration: none;
	color: inherit;
}

.post figcaption a:hover {
	text-decoration: underline;
}

.post-content {
	margin: 1rem 0;
	line-height: 1.3;
	max-width: 550px;
	cursor: pointer;
	text-decoration: none;
}

.post-content p {
	line-break: anywhere;
}

.post a {
	text-decoration: none;
}

.post a:hover {
	text-decoration: none;
}

.post a.read-more {
	color: var(--color-violet-dark);
	font-weight: bold;
	cursor: pointer;
	font-size: 0.8rem;
}

.post a.read-more:hover {
	text-decoration: underline;
	text-underline-offset: 2px;
}

.post footer {
	margin-bottom: 1rem;
	display: flex;
	justify-content: end;
	gap: 12px;
}

.post footer section {
	display: flex;
	width: fit-content;
	justify-content: center;
	align-items: center;
	gap: 2px;
}

.post footer section p {
	margin-left: 0;
	font-weight: 500;
	margin-top: 2px;
	font-size: 0.8rem;
}

.reaction-container button {
	background: none;
	border: none;
	border-radius: 100%;
	width: 22px;
	height: 22px;
	position: relative;
	top: 0px;
	right: 1px;
	cursor: pointer;
}

.reaction-container a {
	text-decoration: none;
}

.reaction-container a:hover {
	text-decoration: none;
	opacity: 0.8;
}

.like-container {
	cursor: pointer;
}

.like-container button {
	top: 1px;
}

.action-container:hover {
	cursor: pointer;
}

@media (min-width: 375px) {
	.user-info {
		position: relative;
	}

	.user-name {
		width: 100px;
	}

	.post-time {
		color: var(--color-grey-light);
		font-size: 12px;
		opacity: 1;
		position: absolute;
		right: 0px;
	}
}

@media (min-width: 425px) {
	.post footer section p {
		font-size: 0.9rem;
	}

	.post {
		padding: 8px;
	}

	.post-time {
		right: 8px;
		top: 0;
	}
}

@media (min-width: 900px) {
	.post figure {
		grid-template-columns: 190px auto;
		row-gap: 0.8rem;
	}

	.article-img-container {
		grid-row: 2;
		position: initial;
	}

	.article-img-container,
	.article-img-container img {
		height: 180px;
		width: 180px;
	}

	.article-img-container .more-container {
		visibility: hidden;
	}

	.user-info {
		grid-template-columns: 50px auto auto;
		grid-column: span 3;
	}

	.user-name {
		margin: auto 0;
	}

	.user-name a {
		font-size: 1rem;
	}

	.user-img {
		height: 35px;
		width: 35px;
	}

	.post-time {
		margin: auto 0 auto auto;
	}

	.post figcaption {
		grid-row: 2;
	}

	.post figcaption p.stars {
		margin-top: 10px;
		font-size: 1.6rem;
	}

	.post figcaption .tag {
		display: inline-block;
	}

	.stars {
		padding: 0;
	}

	.post-content {
		max-width: 80%;
	}
}

@media (prefers-color-scheme: dark) {
	.user-name a {
		color: var(--color-violet-lightest);
	}

	.user-name span {
		color: var(--color-grey-very-light);
	}

	.stars {
		color: var(--color-violet-lightest);
	}

	.post {
		margin-top: 1.5rem;
	}

	.post a.read-more {
		color: var(--color-violet-light-white);
	}
}
