.input {
	font-family: var(--font-family);
	height: 2.4rem;
	border-radius: 6px;
	background-color: transparent;
	outline: none;
	padding: 0rem 0.5rem;
	font-size: 1rem;
	border: 1px solid var(--color-violet-light);
}

.input[disabled] {
	border-color: var(--color-grey-light);
	cursor: not-allowed;
}

.input::placeholder {
	font-size: 0.9rem;
}

.label {
	color: var(--color-violet-dark);
	font-size: 1rem;
}

.input option {
	color: var(--color-violet-dark);
	padding-top: 8px;
	padding-bottom: 8px;
}

.no-content-msg {
	color: var(--color-violet-dark);
	padding: 24px 0;
}

.submit-button {
	background-color: var(--color-violet-dark);
	padding: 0;
	max-width: 400px;
	text-decoration: none;
	display: block;
	color: var(--color-white);
	font-weight: bold;
	border: none;
	text-align: center;
	height: 2.5rem;
	border-radius: 6px;
	cursor: pointer;
	border: 2px solid var(--color-violet-dark);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}

.submit-button:hover {
	filter: brightness(85%);
}

.submit-outline-button {
	background-color: var(--color-white);
	padding: 0;
	max-width: 400px;
	display: block;
	color: var(--color-violet-dark);
	font-weight: bold;
	border: none;
	text-align: center;
	border: 2px solid var(--color-violet-dark);
	height: 2.5rem;
	border-radius: 6px;
	cursor: pointer;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}

.submit-outline-button:hover {
	filter: brightness(90%);
}

.cancel-button {
	background-color: var(--color-red);
	padding: 0;
	max-width: 400px;
	display: block;
	color: var(--color-white);
	font-weight: bold;
	border: none;
	height: 2.5rem;
	border-radius: 6px;
	cursor: pointer;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}

.cancel-button:hover {
	filter: brightness(85%);
}

.cancel-outline-button {
	background-color: var(--color-white);
	padding: 0;
	max-width: 400px;
	display: block;
	color: var(--color-red);
	font-weight: bold;
	border: none;
	text-align: center;
	border: 2px solid var(--color-red);
	height: 2.5rem;
	border-radius: 6px;
	cursor: pointer;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}

.cancel-outline-button:hover {
	filter: brightness(90%);
}

.input:focus {
	border: none;
	outline: 2px solid var(--color-violet-lightest);
}

.image-border {
	border-radius: 10px;
	outline: 2px solid var(--color-violet-dark);
	outline-offset: 1px;
}

/* Invisibiliza el elemento en el DOM. Sin embargo, puede ser procesado por lectores de pantalla */
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

/* Remueve el elemento del DOM */
.hidden {
	display: none;
	opacity: 0;
	visibility: hidden;
}

.tag {
	background-color: var(--color-grey-very-light);
	font-size: 0.8rem;
	padding: 2px 8px;
	border-radius: 15px;
	font-weight: normal;
}

.none-scroll {
	overflow: hidden;
}

@media (min-width: 500px) {
	.no-content-msg {
		font-size: 1.05rem;
		min-width: 350px;
	}
}

@media (prefers-color-scheme: dark) {
	.input {
		border-color: var(--color-violet-light-white);
		color: var(--color-white);
	}

	.input[disabled] {
		border-color: var(--color-grey-medium);
	}

	.input:focus {
		border: none;
		outline: 2px solid var(--color-violet-light);
	}

	.image-border {
		outline-color: var(--color-grey-very-light);
	}

	.no-content-msg {
		color: var(--color-white);
	}

	.submit-button {
		background-color: var(--color-violet-light);
		border: 2px solid var(--color-violet-light);
	}

	.submit-outline-button {
		border-color: var(--color-violet-light);
		color: var(--color-violet);
	}

	.tag {
		color: var(--color-violet-dark-black);
	}

	.label {
		color: var(--color-white);
	}

	.input option {
		background-color: var(--color-violet-dark);
		color: var(--color-violet-light-white);
	}
}

@media (min-width: 1300px) {
	.submit-button {
		max-width: 500px;
	}
}
